{# Client Portal - Detail #}

{% extends "_layout" %}

{% set templateName = "temp--default" %}

{% if not currentUser %}

    {% redirect "clients/login" %}

{% else %}

	{% set entry = craft.entries()
        .section('clients')
        .slug(craft.app.request.getSegment(2))
        .limit(1)
        .authorId(currentUser.id)
        .one()
    %}

{% endif %}

{% if entry == null %}

    {% redirect "clients/login" %}

{% endif %}

{% set metaTitleOveride = 'Brailey Hicks Client Portal - ' ~ entry.title %}
{% set noFollow = 1 %}

{% block content %}

    {# Block - Banner Thin #}

    <section class="section--banner section--banner-thin">

        <div class="container--banner no-img">

            {# Animated Arrows

            {% include "_inc/_blocks/_animatedArrows" with { arrowType : 'regular' } %} #}
        
            <div class="uk-container">

                {# Heading #}

                <div class="block--banner--heading">

                    <div class="inner--banner--heading hide--element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 250;" style="padding-right: 0;">

                        <div class="uk-grid-collapse" uk-grid>
                        
                            <div class="uk-width-1-1 uk-width-2-3@m uk-width-1-2@l">

                                <h1 class="uk-margin-bottom">{{ entry.title }}<span style="color: rgb(160,198,63)"><br>Downloads &amp; Resources</span></h1>

                            </div>

                            <div class="uk-width-1-1 uk-width-1-3@m uk-width-1-2@l uk-flex uk-flex-left uk-flex-middle uk-flex-right@m">

                                <a href="{{ url('/clients/resources/') }}" class="uk-button button--dark-green uk-margin-small-right">Back to File List</a>

                                <a href="{{ logoutUrl }}" class="uk-button button--dark-green">Logout</a>
                            
                            </div>

                        </div>
                    
                    </div>
                
                </div>

            </div>
        
        </div>

    </section>

    {# Block - Resources #}

    <section class="section--news-events section--resources hide--element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 500;">

        <div class="uk-container">
        
            <div class="grid--news-events--content uk-grid-collapse uk-flex" uk-grid>

                {# Downloads List #}

                <div class="block--news-events--list uk-width-1-1 uk-width-2-3@s uk-width-2-3@m">
                
                    <div class="inner--news-events--list" uk-height-match=".article--list-item--img">

                        {% if entry.downloads|length %}

                            {% set resources = entry.downloads.all() %}

                            {% for resource in resources %}

                                <div class="block--article--list-item">
                                
                                    <div class="grid--article--list-item" uk-grid>

                                        {# Article Image #}

                                        {% set assetUrl = url('assets/img/download-resource.svg') %}

                                        {% if resource.img|length %}

                                            {% set assetUrl = resource.img.one().getUrl() %}

                                        {% endif %}

                                        <div class="article--list-item--img uk-width-1-1 uk-width-1-3@m uk-width-2-5@l">
                                        
                                            <div class="inner--list-item--img">

                                                {% if resource.file|length %}

                                                    {% set download = resource.file.one() %}

                                                    <a href="{{ download.getUrl() }}"><img src="{{ assetUrl }}" alt="{{ resource.title }}"></a>

                                                {% else %}
                                                    
                                                    <img src="{{ assetUrl }}" alt="{{ resource.title }}">

                                                {% endif %}
                                            
                                            </div>
                                        
                                        </div>
                                    
                                        {# Artcile Copy #}

                                        <div class="article--list-item--copy uk-width-1-1 uk-width-2-3@m uk-width-3-5@l">
                                        
                                            <div class="inner--list-item--copy uk-height-1-1">

                                                <div class="list-item--copy--category">

                                                    <p>Download</p>
                                                
                                                </div>

                                                {# Heading #}

                                                <h3>{{ resource.heading }}</h3>

                                                {% if resource.file|length %}

                                                    {% set download = resource.file.one() %}

                                                    <p>{{ download.dateCreated|date('F j, Y') }}</p>

                                                    <div class="list-item--copy--button">
                                                    
                                                        <a href="{{ download.getUrl() }}" class="uk-button button--transparent button--sm">Download</a>
                                                    
                                                    </div>

                                                {% endif %}
                                                    
                                            </div>
                                        
                                        </div>
                                    
                                    </div>
                                
                                </div>
                                
                            {% endfor %}

                        {% else %}
                            
                            <div class="grid--article--list-item" uk-grid>

                                <div class="article--list-item--copy uk-width-1-1 empty">
                                    
                                    <div class="inner--list-item--copy">

                                        <p>There are currnetly no downloads or resources.</p>

                                    </div>

                                </div>

                            </div>

                        {% endif %}
                    
                    </div>
                
                </div>

                {# Sidebar #}

                <div class="block--sidebar uk-width-1-1 uk-width-1-3@s uk-width-1-3@m uk-flex-first@s">
                
                    <div class="inner--sidebar">

                        {# Nav #}
                        
                        <div class="block--sidebar--nav">
                            
                            <div class="inner--sidebar--nav">

                                <nav>

                                    <ul>

                                        <li class="uk-active">Downloads</li>
                                    
                                    </ul>

                                </nav>

                            </div>

                        </div>
                
                    </div>
                
                </div>
            
            </div>
        
        </div>

    </section>

{% endblock %}