{# Client Portal - Login #}

{% if currentUser %}

    {% redirect "clients/resources" %}

{% endif %}

{% extends "_layout" %}

{% set templateName = "temp--default" %}

{% set metaTitleOveride = 'Login - Brailey Hicks Client Portal' %}
{% set noFollow = 1 %}

{% block content %}

    <section class="section--advice-forms" id="section--advice-forms">

        <div class="container--advice-forms">

            <div class="uk-container" style="max-width: 400px;">

                <div class="block--heading block--advice-forms--heading">
                    
                    <div class="inner--heading inner--advice-forms--heading">
                    
                        <h1>Client Portal</h1>

                        <h2>Login</h2>
                    
                    </div>
                
                </div>

                <div class="block--advice-forms--forms">

                    <div class="inner--advice-forms--forms">
                    
                        <div class="advice-forms--content">
                                
                            <div class="advice-forms--switcher">

                                <div class="">

                                    <form method="post" accept-charset="UTF-8">

                                        {{ csrfInput() }}

                                        {# <input type="hidden" name="action" value="{{ url('clients/login') }}"> #}

                                        {{ redirectInput('clients/resources') }}
                                
                                        <div uk-grid class="uk-grid-medium">

                                            <div class="uk-width-1-1">

                                                <input class="uk-input" name="loginName" type="text" id="loginName" placeholder="Email Address*" data-validation="required" value="{{ craft.app.user.rememberedUsername }}">

                                            </div>

                                            <div class="uk-width-1-1">

                                                <input class="uk-input" name="password" type="password" id="password" placeholder="Password*" data-validation="required">

                                            </div>

                                            <div class="uk-width-1-1 uk-text-center">

                                                <button class="uk-button button--dark-green button--form" type="submit">Login</button>

                                            </div>

                                        </div>

                                        {% if errorMessage is defined %}
                                            <p>{{ errorMessage }}</p>
                                        {% endif %}

                                    </form>

                                </div>

                            </div>
                                
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    {% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.79/jquery.form-validator.min.js") %}

    {% js %}

        $.validate();

    {% endjs %}

{% endblock %}