{# Client Portal - Resources List #}

{% requireLogin %}

{% extends "_layout" %}

{% set templateName = "temp--default" %}

{% set metaTitleOveride = 'Resources List - Brailey Hicks Client Portal' %}
{% set noFollow = 1 %}

{% block content %}

    {# Block - Banner Thin #}

    <section class="section--banner section--banner-thin">

        <div class="container--banner no-img">
        
            <div class="uk-container">

                {# Heading #}

                <div class="block--banner--heading">

                    <div class="inner--banner--heading hide--element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 250;" style="padding-right: 0;">

                        <div class="uk-grid-collapse" uk-grid>
                        
                            <div class="uk-width-1-1 uk-width-1-2@m">
                            
                                <h1 class="uk-margin-bottom">

                                    {% if currentUser.companyName|length %}{{ currentUser.companyName }}<br>{% endif %}

                                    <span style="color: rgb(160,198,63)">Downloads &amp; Resources</span>

                                </h1>
                            
                            </div>

                            <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-left uk-flex-middle uk-flex-right@m">
                            
                                <a href="{{ logoutUrl }}" class="uk-button button--dark-green">Logout</a>
                            
                            </div>
                        
                        </div>
                    
                    </div>
                
                </div>

            </div>
        
        </div>

    </section>

    {# Block - Resources #}

	{% set resourcesQuery = craft.entries()
	    .section('clients')
	    .authorId(currentUser.id)
	%}

	{% set resources = resourcesQuery.all() %}

    <section class="section--news-events section--resources hide--element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 500;">

        <div class="uk-container">
        
            <div class="grid--news-events--content uk-grid-collapse uk-flex" uk-grid>

                {# Downloads List #}

                <div class="block--news-events--list uk-width-1-1 uk-width-2-3@s uk-width-2-3@m">
                
                    <div class="inner--news-events--list" uk-height-match=".article--list-item--img">

                        {% if resources|length %}

                            {% for resource in resources %}

                                <div class="block--article--list-item">
                                
                                    <div class="grid--article--list-item" uk-grid>
                                    
                                        {# Artcile Copy #}

                                        <div class="article--list-item--copy uk-width-1-1">
                                        
                                            <div class="inner--list-item--copy uk-height-1-1">

                                                <div class="list-item--copy--category">

                                                    <p>Resources</p>
                                                
                                                </div>

                                                {# Heading #}

                                                <h3>{{ resource.title }}</h3>

                                                <p>{{ resource.postDate|date('F j, Y') }}</p>

                                                <div class="list-item--copy--button">
                                                
                                                    <a href="{{ resource.getUrl() }}" class="uk-button button--transparent button--sm">View List</a>
                                                
                                                </div>
                                                    
                                            </div>
                                        
                                        </div>
                                    
                                    </div>
                                
                                </div>
                                
                            {% endfor %}

                        {% else %}
                            
                            <div class="grid--article--list-item" uk-grid>

                                <div class="article--list-item--copy uk-width-1-1 empty">
                                    
                                    <div class="inner--list-item--copy">

                                        <p>There are currnetly no downloads or resources.</p>

                                    </div>

                                </div>

                            </div>

                        {% endif %}
                    
                    </div>
                
                </div>

                {# Sidebar #}

                <div class="block--sidebar uk-width-1-1 uk-width-1-3@s uk-width-1-3@m uk-flex-first@s">
                
                    <div class="inner--sidebar">

                        {# Nav #}
                        
                        <div class="block--sidebar--nav">
                            
                            <div class="inner--sidebar--nav">

                                <nav>

                                    <ul>

                                        <li class="uk-active">Resource Lists</li>
                                    
                                    </ul>

                                </nav>

                            </div>

                        </div>
                
                    </div>
                
                </div>
            
            </div>
        
        </div>

    </section>

{% endblock %}