// ==========================================================

// WE LOVE 9AM FRAMEWORK URL: https://welove9am.com/
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 1200 =================================================== */

// 1. ROOT 					==============================

// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

.form-nav-after() {
	bottom: -10px;
	border-width: 10px 10px 0 10px;
}

/* Form Fields */

form {

	.uk-input, .uk-textarea, .input-type, .uk-select {
		padding: 17px 24px;
		.font-size(14);
	}

	label {
		.font-size(16);

		&.label--checkbox {
			.font-size(14);
		}
	}
}

// 6. LAYOUT 				==============================

/* Header */

.header {
	border-bottom: none;
	padding: 0;
	background: @bannergrey;

	.uk-container {
		padding: 39px 20px 13px;
		border-bottom: 1px solid @textgrey;
	}

	.header--block--logo {

		.header--inner--logo {
			padding-left: 0;
		}
	}

	.header--block--nav {
		width: 50% !important;

		.header--inner--nav {
			height: 65px;
		}
	}

	.header--block--info {

		.header--phone {
			margin-right: 22px;

			img {
				max-width: 15px;
				margin-right: 10px;
				top: -4px;
				position: relative;
			}
		}

		.header--free-advice {
			margin-right: 0;
		}
	}
}

/* Mobile Navigation */

.block--mobile-nav {

	.uk-offcanvas-bar {
		width: 72%;
		right: 0;
	}
}

.block--mobile-nav {
	display: none !important;
}

body {

	&.uk-offcanvas-flip {

		&.uk-offcanvas-container-animation {
			left: 0;
		}
	}

	&.uk-offcanvas-container {

		.header {

			.header--block--info {

				.header--email {
					.opacity(0);
				}

				.header--free-advice {
					.opacity(1);
				}

				.button--burger-bar {
					pointer-events: auto;
					.opacity(1);
					position: relative;
				}

				.button--mobile-menu-close {
					pointer-events: none;
					.opacity(0);
					position: absolute;
				}

				.header--phone {
					position: relative;
					bottom: auto;
					right: auto;
					margin-right: 20px;

					img {
						max-width: 15px;
					}
				}
			}
		}
	}

	/* Service Template Header */

	&.temp--service {

		.header {
			position: absolute;
			z-index: 2;
			background: none;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}

/* Content Blocks */

/* Banner */

.section--banner {
	margin-bottom: 40px;

	.container--banner {
		//margin: 0 auto 80px;
		//max-width: 1600px;
		margin-bottom: 80px;
	}

	.uk-container {
		position: relative;
	}

	.block--banner--heading {
		left: 130px;
		top: 60%;

		.inner--banner--heading {

			h1, h2 {
				.font-size(48);
			}

			h3, h4, h5, h6 {
				.font-size(36);
			}

			p {
				.font-size(24);
			}
		}
	}

	.block--banner--img {
		margin-bottom: -80px;
	}

	.block--banner--copy {
		bottom: -80px;
		max-width: 1600px;
		margin: 0 auto;

		.inner--banner--copy {
			max-width: 1040px;
			width: 65%;
			padding: 42px 56px;

			h1, h2, h3, h4, h5, h6, p {
				.font-size(32);
				font-weight: 500;
				max-width: 760px;
			}
		}
	}

	/* Service Banner */

	&.section--service--banner {
		margin-bottom: 0;
		position: relative;
		z-index: 1;

		.block--banner--heading {
			top: 52%;
			left: 60px;
		}

		.block--banner--img {
			margin-bottom: 0;
			position: relative;

			.inner--banner--img {

				img {
					max-width: 664px;
				}
			}
		}
	}

	/* Thin Banner */

	&.section--banner-thin {
		margin-bottom: 0;

		.block--banner--heading {
			left: 40px;
			top: 50%;

			.inner--banner--heading {
				padding: 0;
			}
		}

		.block--banner--img {
			margin-bottom: 0;

			&.portrait {

				.inner--banner--img {

					img {
						max-height: 300px;
					}
				}
			}
		}

		.container--banner {
			margin-bottom: 0;

			&.no-img {
				padding: 95px 0 125px;

				.block--banner--heading {

					.inner--banner--heading {
						padding: 0 55px 0 15px;
					}
				}
			}
		}
	}
}

/* Block - Animated Banner Arrows */

.block--animated-arrows {
	max-width: 1200px;
	right: 0;
	margin: 0 auto;

	.inner--animated-arrows {

		.arrow {

			&.arrow--3, &.arrow--3-2 {
				right: 4%;
			}

			&.arrow--3-2 {
				right: 6%;
			}

			&.arrow--4, &.arrow--4-2 {
				right: 30%;
				display: block;
				animation: MoveUp1 21s linear infinite;
				animation-delay: 2s;

			}

			&.arrow--4-2 {
				animation-delay: 11.5s;
				right: 32%;
			}
		}
	}
}

/* Heading */

.block--heading {

	.inner--heading {
		max-width: 480px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(44);
		}
	}
}

/* Section: Solutions */

.section--solutions {

	.uk-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.container--solutions--heading {
		padding: 55px 0;
	}

	.block--solutions--heading {

		.inner--solutions--heading {
			max-width: 480px;

			h1, h2, h3, h4, h5, h6 {
				.font-size(44);
			}
		}
	}

	.container--solutions--cols {
		padding: 0 0 30px;
		background: transparent;

		&.add-padding {
			padding-top: 55px
		}
	}

	.grid--solutions--cols {
		max-width: 100%;
	}

	.block--solutions--col {

		.inner--solutions--col {
			max-width: 350px;
			background: @sitelightgrey;
			.box-sizing();
			padding: 0 0 65px;
			margin-bottom: 36px;

			.column-heading {
				padding: 40px 40px 15px;

				h3 {
					.font-size(30);
					margin-bottom: 5px;
				}

				h4 {
					.font-size(18);
				}
			}

			.column-copy {
				padding: 0 25px 40px;
				margin-bottom: 0;

				ul {

					li {
						padding: 25px 0 25px 41px;
						.font-size(16);

						&:before {
							left: 10px;
						}
					}
				}
			}

			.column-button {
				
			}
		}

		&:last-child {

			.inner--solutions--col {
				padding: 0 0 65px;
			}
		}
	}
}

/* Section: Points */

.section--points {
	padding: 0 0 100px;

	.container--points--heading {
		max-width: 1600px;
		padding-top: 75px;
		padding-bottom: 85px;
		//background: url('../img/icon-logo-arrow-left.svg') no-repeat;
		//background-position: 0 0;
		//background-size: 225px auto;
		position: relative;

		.uk-container {
			max-width: 550px;
		}

		.element--points--heading-arrow {
			position: absolute;
			left: 0;
			top: 0;
			pointer-events: none;
			width: 225px;
			height: 260px;

			img {
				max-width: 225px;
				width: 100%;
				height: auto;
			}
		}
	}

	.container--points--cols {
		max-width: 100%;

		&.add-padding {
			padding-top: 75px;
		}
	}

	.block--points--heading {

		.inner--points--heading {
			max-width: none;
		}
	}

	.block--points--col {

		.inner--points--col {
			max-width: 310px;

			.point-heading {

				h3 {
					.font-size(19);
				}

				img {
					max-width: 80px;
					height: 75px;
				}
			}

			.point-copy {

				p {
					.font-size(17);
				}
				
			}
		}
	}
}

/* Section: Testimonials */

.section--testimonials {
	margin: 90px 0;

	.uk-slider-container {
		max-width: 1600px;
		margin: 0 auto;
	}

	.container--testimonial {
		margin-left: 25%;
		max-width: 1600px;

		.block--testimonial--img {
			left: -19%;
			top: 70px;
			width: 63%;

			.inner--testimonial--img {

				img {
					max-width: 760px;
				}
			}
		}

		.block--testimonial--copy {
			width: 50%;
			padding: 150px 0 0;

			.inner--testimonial--copy {
				padding: 0 0 125px;
				background-size: 21px auto;

				.testimonial--quote {
					padding: 2px 40px 0 40px;
					max-width: 380px;

					p {
						.font-size(20);
						line-height: 39px;
					}
				}

				.testimonial--author {
					padding: 0 40px 0 40px;
					max-width: 380px;

					p {
						line-height: 39px;
					}
				}

				.testimonial--nav {
					padding: 0 40px 0 40px;
					margin-top: 34px;
					text-align: right;
					max-width: 380px;

					a {
						line-height: 50px;
						.font-size(14);

						img {
							max-width: 50px;
						}
					}
				}
			}
		}
	}
}


/* Section: Values */

.section--values {
	padding: 0 40px;
	margin: 90px 0;

	.container--values--heading {
		padding: 45px 0 32px;
	}

	.container--values--cols {
		padding: 32px 0 60px;
	}
}

/* Section: News */

.section--news {
	padding-bottom: 100px;

	.block--news--heading {

		.inner--news--heading {
			padding: 0 0 0 55px;
			max-width: 510px;
			margin: 0;
		}
	}
	
	.uk-slider-container {
		position: relative;
	}

	.block--news-item {

		.link--news-item {

			.cover--news {

				.block--news--intro {
					padding: 30px 35px;

					p {
						.font-size(17);
					}
				}
			}
		}
	}

	.block--news--slider-contolrs {
		padding: 10px 18px 0;
		position: absolute;
		right: 90px;
		bottom: 0;
		background: @white;

		a {
			margin: 0 8px;

			img {
				max-width: 50px;
				width: 100%;
				height: auto;
			}
		}
	}
}

/* Section: Contact & Map */

.section--contact {
	padding: 0 40px;

	.container--contact {
		max-width: 1000px;
		padding: 75px 0 270px;
	}

	.block--contact--heading {
		margin-bottom: 60px;
	}

	.block--contact--phone {

		.inner--contact--phone {

			p {
				.font-size(36);
				line-height: 52px;
			}
		}
	}

	.block--contact--map {
		pointer-events: none;
		width: 50%;
		top: 60px;

		.inner--contact--map {
			text-align: center;

			img {

				&.svg-map-circle {
					right: 137px;
				}
			}
		}
	}
}

/* Section: Advice Form */

.section--advice-forms {
	padding: 65px 0;
	background: url('../img/form-bg-arrows.svg') no-repeat @sitelightgrey;
	background-position: right -247px top 0;
	background-size: 493px auto;

	.uk-container {
		max-width: 735px;
	}

	.advice-forms--nav {

		.uk-subnav {
			max-width: 500px;
			margin: 0 auto;

			li {

				a {
					line-height: 44px;
					.font-size(17);
					max-width: 240px;

					&:hover {

						&:after {
							.form-nav-after;
						}
					}
				}

				&.uk-active {

					a {

						&:after {
							.form-nav-after;
						}
					}
				}
			}
		}
	}

	.advice-forms--content {

		.advice-forms--switcher {

			.switcher--form {

				.button--form {
					margin-top: 30px;
				}
			}
		}
	}
}

/* Section - Service Intro */

.section--service--intro {
	padding: 60px 0;

	.block--service--intro {

		.inner--service--intro {
			max-width: 990px;
			.box-sizing();

			h1, h2, h3, h4, h5, h6, p {
				.font-size(38);
				line-height: 50px;
			}
		}
	}
}

/* Section - Service Copy */

.section--service--copy {
	padding: 0 0 40px;

	.block--service--copy {
		padding: 60px 0;

		.inner--service--copy {
			max-width: 990px;
			padding-left: 150px;
			.box-sizing();
		}

		&:before {
			left: 5%;
		}

		&:after {
			left: 5%;
		}
	}
}

/* Section - News Banner */

.section--news--banner {
	padding: 45px 40px 55px;

	.block--news--banner--heading {

		.inner--news--banner--heading {
			padding: 0 0 0 77px;
		}
	}
}

/* Section - News Content */

.section--news--content {
	padding: 95px 40px;

	.block--news--content--copy {

		.inner--news--content--copy {
			max-width: 680px;
		}
	}
}

/* Section - Copy & Image */

.section--copy-image {

	.uk-container--copy-image {
		position: relative;
		max-width: 1600px;
	}

	.uk-container {
		max-width: 1200px;
		padding: 0 40px;
	}

	.grid--copy-image--content {

	}

	.block--copy-image--copy {

		.inner--copy-image--copy {
			padding: 0 0 0 15px;

			.copy--button {
				margin-top: 56px;
			}
		}
	}

	.block--copy-image--img {

		.inner--copy-image--img {
			//position: absolute;
			//top: -115px;
			//right: 0;
			//width: 63%;
			text-align: right;
			margin-top: -115px;

			img {
				.box-shadow(0px 0px 30px 8px rgba(0,0,0,.4));
			}
		}
	}
}

/* Section - Team */

.section--team {
	padding: 75px 45px;

	.block--team--heading {
		margin-bottom: 75px;
	}
}

/* Section - News & Events */

.section--news-events {
	padding: 45px;

	.block--news-events--list {

		.inner--news-events--list {
			padding-top: 125px;
			
			.grid--article--list-item {

				.article--list-item--copy {

					.inner--list-item--copy {
						position: relative;
						padding-bottom: 60px;

						.list-item--copy--button {
							position: absolute;
							bottom: 15px;
							left: 0;
						}
					}
				}
			}
		}
	}
}

/* Section FAQs */

.block--faqs--list {

	.inner--faqs--list {

		.block--faq {

			.accordion--level-2 {

				li {
					.uk-accordion-title--level-2 {
						padding: 0 70px 0 90px;
					}

					.block--faq--level-2 {
						padding: 25px 80px 13px 90px;

					}
				}
			}
		}
	}
}

/* Footer */

.footer {

	/* Top Footer */

	.block--footer-top {
		padding: 78px 30px 120px;

		.uk-container {
			margin: 0 auto;
		}

		.block--footer-top--left {
			
			.inner--footer-top--left {
				max-width: 500px;
				padding-left: 20px;
				padding-top: 78px;

				.footer-menu {

					li {
						.font-size(18);

						a {
							margin-bottom: 20px;
						}

						ul {

							li {
								.font-size(14);
								margin: 0 0 20px;

								a {
									margin-bottom: 15px;
								}
							}
						}
					}
				}
			}
		}

		.block--footer-top--center {
			width: 13% !important;
			padding-left: 0 !important;

			.inner--footer-top--center {
				padding-top: 78px;
			}
		}

		.block--footer-top--right {
			width: 27% !important;

			.inner--footer-top--right {
				padding-top: 88px;
				text-align: left;
			}
		}
	}

	/* Bottom Footer */

	.block--footer-bottom {
		padding: 13px 0;

		.uk-container {
			max-width: 1180px;
		}

		.block--footer-bottom--left {

			.inner--footer-bottom--left {
				padding-left: 10px;
				.box-sizing();

				ul {

					li {
						.font-size(12);
						margin: 0 6px 0 0;
						padding: 0 12px 0 0;

						&:after {
							top: 3px;
							height: 13px;
						}
					}
				}
			}
		}

		.block--footer-bottom--right {

			.inner--footer-bottom--right {
				padding-right: 10px;
				.box-sizing();

				p {
					.font-size(12);
					line-height: 2.2em;
				}
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================