// ==========================================================

// WE LOVE 9AM FRAMEWORK URL: https://welove9am.com/
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 480 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================


// 6. LAYOUT 				==============================

/* Header */

.header {

	
}

/* Menus */

.block--mobile-nav {

	.inner--mobile-nav {
		padding: 20% 20px 40px 40px;
	}

	.uk-offcanvas-bar {
		width: 72%;

		.icon--close {
			
		}
	}

	.uk-nav {

		li {
			.font-size(28);

			.nav--mobile--children {

				ul {
					padding: 20% 20px 40px 40px;

					li {
						.font-size(15);

						&.menu-heading {
							.font-size(28);
						}
					}
				}
			}
		}
	}
}

/* Content Blocks */

/* Banner */

.section--banner {

	.container--banner {
		padding: 60px 0 0 0;
	}

	.block--banner--heading {

		.inner--banner--heading {
			padding-left: 20px;

			h1, h2 {
				.font-size(40);
			}

			h3, h4, h5, h6 {
				.font-size(32);
			}

			p {
				.font-size(20);
			}
		}
	}

	.block--banner--button {

		.inner--banner--button {

			.uk-button {

			}
		}
	}

	.block--banner--img {
		right: -40%;
	}

	.block--banner--copy {

		.inner--banner--copy {

			h1, h2, h3, h4, h5, h6, p {

			}

			ul, ol {
				display: none;
			}
		}
	}

	/* Service Banner */

	&.section--service--banner {

		.block--banner--button {
			margin-top: 30px;

			.inner--banner--button {
				padding-left: 20px;

				.uk-button {

				}
			}
		}
	}

	/* Thin Banner */

	&.section--banner-thin { 

		.block--banner--img {
			right: -20%;

			&.portrait {
				right: 0;
			}
		}
	}
}


/* Heading */

.block--heading {

	.inner--heading {
		max-width: 400px;
		margin: 0 auto;
		padding-bottom: 45px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(36);
		}
	}
}

/* Section: Solutions */

.section--solutions {
	padding: 50px 0 70px;

	.uk-container {
		padding-left: 35px;
		padding-right: 35px;
	}

	.block--solutions--heading {

		.inner--solutions--heading {
			
		}
	}

	.block--solutions--col {

		.inner--solutions--col {

			.column-heading {

				h3 {
					.font-size(28);
					margin: 0 0 10px;
				}

				h4 {
					.font-size(18);
					margin: 0 0 18px;
				}
			}
		}
	}
}

/* Section: Points */

.section--points {
	padding: 50px 0;

	.container--points--heading {
		
	}

	.container--points--cols {
		max-width: 480px;
	}

	.block--points--col {

		.inner--points--col {
			padding-bottom: 25px;

			.point-heading {
				padding-left: 160px;
				padding-right: 20px;

				img {
					max-width: 110px;
				}
			}

			.point-copy {
				padding: 0 20px;
			}
		}

		&.odd {

			.inner--points--col {

				.point-heading {
					margin-left: 0;

					img {
						left: 20px;
					}
				}

				.point-copy {
					text-align: right;
				}
			}
		}

		&.even {

			.inner--points--col {

				.point-heading {
					padding-left: 20px;
					padding-right: 140px;

					img {
						right: 20px;
					}
				}
			}
		}
	}
}

/* Section: Testimonials */

.section--testimonials {

	.container--testimonial {
		margin-left: 104px;

		.block--testimonial--img {

			.inner--testimonial--img {
				margin-left: -42px;
				padding: 60px 80px 35px 0;

				img {
					max-width: 420px;
				}
			}
		}

		.block--testimonial--copy {

			.inner--testimonial--copy {
				padding: 30px 0 40px;
				background-position: 20px 0;

				.testimonial--quote {
					padding: 0 45px 0 55px;

					p {
						.font-size(16);
						line-height: 2.25em;
					}
				}

				.testimonial--author {
					padding: 0 45px 0 55px;

					p {
						line-height: 2.25em;
					}
				}

				.testimonial--nav {
					padding: 0 45px 0 55px;

					a {
						line-height: 100px;
						.font-size(18);

						img {
							max-width: 100px;
							margin-left: 20px;
						}
					}
				}
			}
		}
	}
}

/* Section: News */

.section--news {

	.block--news--heading {

		.inner--news--heading {
			max-width: none;
			padding: 0 10px;
			margin-bottom: 30px;

			h1, h2, h3, h4, h5, h6 {
				margin: 0 0 20px;
			}

			p, ul, ol, li {
				display: block;
			}
		}
	}

	.block--news-item {

		.link--news-item {

			.cover--news {

				.block--news--intro {

					p {
						.font-size(18);
					}
				}
			}
		}
	}

	.block--news--slider-contolrs {
		padding: 30px 0 35px;
	}
}

/* Section: Contact & Map */

.section--contact {
	padding: 30px 15px;

	.container--contact {
		max-width: 480px;
		margin: 0 auto;
	}

	.block--contact--heading {

		.inner--contact--heading {

			
		}
	}

	.uk-grid--contact--address {
		
	}

	.block--contact--address {

		.inner--contact--address {

			h1, h2, h3, h4, h5, h6, p {
				.font-size(22);
			}
		}
	}

	.block--contact--mobile-map {

		.inner--contact--mobile-map {

			img {

			}
		}
	}

	.block--contact--phone {

		.inner--contact--phone {

			
		}
	}

	.block--contact--map {

		.inner--contact--map {

			img {

				&.svg-map-mobile {

				}

				&.svg-map {

				}

				&.svg-map-circle {

				}
			}
		}
	}
}

/* Section: Advice Form */

.section--advice-forms {
	padding: 30px;
}

/* Section - Service Intro */

.section--service--intro {
	padding: 30px;
}

/* Section - Service Copy */

.section--service--copy {
	padding: 0 30px;

	.block--service--copy {
		padding: 30px 0;

		&:before {
			width: 380px;
		}

		&:after {
			width: 111px;
		}
	}
}

/* Section - News Banner */

.section--news--banner {
	padding: 30px 40px 50px;

	.block--news--banner--heading {

		.inner--news--banner--heading {
			padding: 0 65px 0 0;

			h1 {
				.font-size(34);
			}

			.banner--heading--category {

				p {
					.font-size(16);
				}
			}

			.banner--heading--date {

				p {
					.font-size(16);
				}
			}
		}
	}
}

/* Section - News Content */

.section--news--content {
	padding: 40px;

	.block--news--content--copy {

		.inner--news--content--copy {

			h1, h2, h3, h4, h5, h6 {
				margin: 0 0 30px;
			}

			h1, h2 {
				.font-size(28);
			}

			h3 {
				.font-size(24);
			}

			h4, h5, h6 {
				.font-size(18);
			}

			p {
				.font-size(18);
				line-height: 42px;
				margin: 0 0 30px;
			}

			ol, ul {
				margin: 0 0 30px 17px;

				li {
					.font-size(18);
				}
			}
		}
	}
}

/* Section - Stats */

.section--stats {
	padding: 30px;

	.block--stats--stat {

		.inner--stats--stat {

			h1, h2, h3, h4, h5, h6 {
				.font-size(44);
				line-height: 52px;
			}

			p {
				.font-size(30);
				line-height: 36px;
			}
		}
	}
}

/* Section - News & Events */

.section--news-events {
	padding: 40px;

	.block--news-events--list {

		.inner--news-events--list {

			.grid--article--list-item {
				
			}
		}
	}
}

/* Footer */

.footer {

	/* Top Footer */

	.block--footer-top {
		padding: 40px 0;

		.block--footer-top--left {

			.inner--footer-top--left {


			}
		}

		.block--footer-top--center {

			.inner--footer-top--center {


			}
		}

		.block--footer-top--right {

			.inner--footer-top--right {
				text-align: center;

				.social-list {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						margin: 0 10px;
						padding: 0;
						display: inline-block;

						a {
							.opacity(1);
							.transition(opacity 0.3s ease);
							display: block;

							img {
								display: block;
							}

							&:hover {
								.opacity(0.9);
							}
						}
					}
				}
			}
		}
	}

	/* Bottom Footer */

	.block--footer-bottom {

		.block--footer-bottom--left {

			.inner--footer-bottom--left {

				ul {

					li {
						margin: 0 6px 0 0;
						padding: 0 12px 0 0;
						display: inline-block;
						position: relative;

						&:after {
							position: absolute;
							right: 0;
							top: 4px;
							content: '';
							width: 1px;
							height: 18px;
							background: @white;
						}

						&:first-child {
							margin-left: 6px;
						}

						&:last-child {

							&:after {
								display: none;
							}
						}
					}
				}
			}
		}

		.block--footer-bottom--right {

			.inner--footer-bottom--right {
				text-align: center;

				p {

				}
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================