// ==========================================================

// OWN DESIGN / THE SWEB SITE FRAMEWORK URL: http://www.theswebsite.co.uk/ & http://www.own-design.com/
// Version: 1.0
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* Page Base =================================================== */

// 1. ROOT 					==============================

* {
	//outline:none !important;
	//-webkit-appearance:none !important;
	//-moz-appearance:none !important;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

@-webkit-viewport { 
	width: device-width;
}

@-moz-viewport { 
	width: device-width;
}

@-ms-viewport { 
	width: device-width;
}

@-o-viewport { 
	width: device-width;
}

@viewport { 
	width: device-width; 
}

html {
	background: @bodycolor; 
	font-size: 62.5%;
	-webkit-overflow-scrolling: touch; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
	overflow-y: scroll;
}

body { 
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: transparent;
	font-family: @basefont;
	.font-size(16);
	line-height: @baselineheight;
	color: @textcolor;
	overflow-x: hidden;
}

::-moz-selection {
    color: @white;
    background: darken(@lightgreen, 3%);
}
::selection {
    color: @white;
    background: darken(@lightgreen, 3%);
}

.uk-progress {
    background-color: @white;
    border: none; /* Needed for Firefox */
    color: @white; /* For IE10 */
    -webkit-appearance: none; /* Needed for WebKit/Blink */
}
.uk-progress::-moz-progress-bar { 
    background-color: @white;
}
.uk-progress::-webkit-progress-value {
    background-color: @white;
}
.uk-progress::-webkit-progress-bar {
    background-color: @white;
}
// 2. TYPOGRAPHY 			==============================

/*****Colour Fade Elements*****/
a, input, textarea, button, span, i, ul, li, select {
	text-decoration: none;
	-moz-transition-property: color, background-color, opacity, border-color;
	-moz-transition-duration: 0.3s;
	-webkit-transition-property: color, background-color, opacity, border-color;
	-webkit-transition-duration: 0.3s;
	transition-property: color, background-color, opacity, border-color;
	transition-duration: 0.3s;
}

h1, h2 ,h3 ,h4 ,h5 ,h6 {
	font-family: @baseheadingfont;
	line-height: 1.35em;
	margin: 0 0 25px;
	font-weight: 600;

	strong, b {
		font-family: @baseheadingfont;
		font-weight: 600;
	}

	em, i {
		font-family: @baseheadingfont;
		font-style: italic;
	}
}

h1 {
	.font-size(24);
}

h2 {
	.font-size(20);
}

h3 {
	.font-size(18);
}

h4 {
	.font-size(16);
}

h5 {
	.font-size(14);
}

h6 {
	.font-size(14);
}

p {
	.font-size(14);
	line-height: 1.5em;
	margin: 0 0 20px;

	em {
		font-style: italic;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

strong, b {
	font-weight: 600;
}

ul, ol {
	margin: 0 0 25px 25px;
	padding: 0;
	list-style-position: outside;

	li {
		.font-size(14);
		line-height: 1.5em;
		margin: 0;
		padding: 0;
	}
}

a, .uk-link {
	color: @lightgreen;
	text-decoration: none;

	&:hover {
		color: darken(@lightgreen, 5%);
		text-decoration: none;
	}
}

em, i {
	color: inherit;
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

/* Hide / Show */

.hide--element {
	.opacity(0);
	visibility: hidden;
}

.show--element {
	.opacity(1);
	visibility: visible;
}

/* Mixin: Form Nav After */

.form-nav-after() {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #135755 transparent transparent transparent;
	margin: 0 auto;
	.transition(all 0.3s);
	.opacity(1);
}

/* Mixin: Vertical Align (Flex) */

.flex--vertical-align() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* Button */

.uk-button {
	margin: 0;
	.font-size(15);
	color: @darkgreen;
	text-align: center;
	line-height: 54px;
	padding: 0 20px;
	background: @bannergrey;
	font-family: @basefont;
	.box-sizing();
	position: relative;
	.rounded(30px);
	min-width: 166px;

	&:hover {
		color: @white;
		background: @darkgreen;
	}

	&:disabled {
		cursor: not-allowed;
	}
}

.button--dark-green {
	background: @darkgreen;
	color: @white;

	&:hover {
		background: @lightgreen;
		color: @darkgreen;
	}
}

.button--transparent {
	background: none;
	color: @lightgreen;
	border: 2px solid @darkgreen;

	&:hover {
		background: @darkgreen;
		color: @lightgreen;
	}
}

.button--form {
	.rounded(0);
}

.button--sm {
	line-height: 43px;
	.font-size(14);
	min-width: 130px;
	padding: 0 25px;
}

/* Form Fields */

form {

	.uk-input, .uk-textarea, .input-type, .uk-select {
		width: 100%;
		//padding: 17px 24px;
		padding: 15px;
		.box-sizing(border-box);
		.font-size(14);
		color: @textdark;
		border: 1px solid @white;
		margin: 0;
		height: auto;
		background: @white;
		.box-shadow(none);

		&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
			color:@textdark;
			.opacity(1);
		}

		&::placeholder {
			color:@textdark;
			.opacity(1);
		}

		&:focus, &:hover {
			border: 1px solid @darkgreen;
			background: @white;
			color: @darkgreen;
		}

		&:required:focus {
			border: 1px solid @lightgreen;
			background: @white;
			color: @lightgreen;
			.box-shadow(none);

			&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
				color: @lightgreen;
				.opacity(1);
			}

			&::placeholder {
				color:@lightgreen;
				.opacity(1);
			}
		}

		&:required:invalid {
			.box-shadow(none);
		}

		&:required:focus:invalid {
			.box-shadow(none);
			background: @sitered;
			color: @white;
			border: 1px solid @sitered;

			&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
				color: @white;
				.opacity(1);
			}

			&::placeholder {
				color:@white;
				.opacity(1);
			}
		}

		&:required:valid {
			background: @white;
			color: @lightgreen;
			border: 1px solid @lightgreen;
			.box-shadow(none);

			&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
				color: @white;
				.opacity(1);
			}

			&::placeholder {
				color:@white;
				.opacity(1);
			}
		}

		&:required:focus:valid {
			color: @darkgreen;
			.box-shadow(none);
		}

		&.error {
			.box-shadow(none);
			background: @sitered !important;
			color: @white !important;
			border: 1px solid @sitered !important;
			.box-shadow(none);

			&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
				color: @white;
				.opacity(1);
			}

			&::placeholder {
				color:@white;
				.opacity(1);
			}

			&:required:valid {
				background: @sitered;
				color: @white;
				border: 1px solid @sitered !important;
			}
		}

		&.uk-button-primary {
			border: none;
			width: auto;
			.font-size(14);

			&:hover {
				cursor: pointer;
			}
		}
	}

	label {
		margin: 0 0 15px;
		display: block;
		color: @textdark;
		font-family: @baseheadingfont;
		font-weight: 500;
		.font-size(18);
		text-align: center;

		a {
			color: @lightgreen;
			text-decoration: none;

			&:hover, &:focus {
				color: @darkgreen;
				text-decoration: none;
			}
		}

		&.has-error {

			.help-block {
				bottom: -25px;
				left: 0;
				right: 0;
			}
		}

		&.label--checkbox {
			.font-size(16);
			margin: 0;

			&.has-error {

				span {
					color: @sitered;

					a {
						color: @sitered;
					}
				}
			}
		}

		&.label--select {
			margin: 0 0 20px;
		}
	}

	.uk-textarea {
		max-width: 100% !important;
		min-width: 100% !important;
		min-height: 120px !important;
		padding: 10px 15px;
	}

	.uk-select {
		height: auto !important;
	}

	.field {
		position: relative;
	}

	.help-block {
 		animation-name: fadeIn;
 		text-align: center;
		.font-size(11);
		position: absolute;
		left: 30px;
		bottom: -25px;

		&.form-error {
			color: @sitered;
		}
	}

	&.disabled {
		.opacity(.3);
	}

	.has-error {
		position: relative;
	}

	.has-success {

		.uk-input, .uk-textarea, .input-type, .uk-select {
			border: 1px solid @lightgreen;
			color: @lightgreen;
		}
	}
}

.uk-checkbox {
	width: 20px;
	height: 20px;
	border: 1px solid @white;
	margin-right: 10px;
	background-color: @white;
	display: inline-block;

	&:checked {
		background-color: @lightgreen;
		border: 1px solid @darkgreen;
		color: @white;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%2F%3E%0A%3C%2Fsvg%3E");
	}

	&:checked:focus, &:indeterminate:focus {
		background-color: @lightgreen;
		border: 1px solid @darkgreen;
		color: @white;
	}

	&:required:invalid {
		.box-shadow(none);
	}

	&:required:focus:invalid {
		.box-shadow(none);
		border: 2px solid @sitered !important;
	}

	&.error {
		border: 2px solid @sitered !important;
	}
}

.form-message {
	display: none;
	padding: 10px;
	margin-top: 15px;

	p {
		.font-size(15);
		color: @white;
		margin: 0 !important;
		line-height: 1.35em;
	}

	&.success {
		color: @white;

		p {
			color: @white;
		}
	}

	&.errors {
		background: transparent;
		color: @white;
		font-style: italic;

		p {
			color: @white;
			font-style: italic;
		}
	}
}

.form-terms {

	label {
		.font-size(12);
		max-width: 525px;
		display: block;
	}

	a {
		color: @sitered;
		text-decoration: none;

		&:hover, &:focus {
			color: @siteblue;
			text-decoration: none;
		}
	}
}

/*Break long email address*/

.email-address {
	-ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

// Lightbox

.uk-lightbox {
	background: rgba(30,30,30,0.9);
}

// Background Styles

.style--bg-white {
	background: @white !important;
}

.style--bg-dark-green {
	background: @darkgreen !important;
}


.style--bg-light-green {
	background: @lightgreen !important;
}

.style--bg-grey {
	background: @bannergrey !important;
}

.style--bg-transparent {
	background: none !important;
}

// Model


// Link


// 6. LAYOUT 				==============================

/* Header */

.header {
	padding: 45px 5px 18px;
	position: relative;
	z-index: 9999;

	.header--block--logo {

		.header--inner--logo {
			padding-top: 15px;
		}
	}

	.header--block--nav {
		width: 0 !important;
	}

	.header--block--info {
		position: relative;
		z-index: 9999;

		.header--phone {
			position: absolute;
			bottom: -94px;
			right: 0;

			img {
				width: 51px;
				height: auto;
			}

			span {
				color: @darkgreen;
				.font-size(15);
				font-family: @basefont;
			}

			&:hover {

				span {
					color: @lightgreen;
				}
			}
		}

		.header--free-advice {
			line-height: 48px;
			color: @lightgreen;
			.font-size(14);
			width: 136px;
			text-align: center;
			display: inline-block;
			.rounded(25px);
			border: 2px solid @darkgreen;
			background: transparent;
			.transition(all 0.3s);
			margin-right: 20px;
			padding: 0;
			.opacity(1);

			&:hover {
				background: @darkgreen;
			}
		}

		.header--email {
			position: absolute;
			bottom: -150px;
			right: 0;
			.opacity(0);
			.transition(opacity 0.3s);
			pointer-events: none;

			img {
				max-width: 51px;
				height: auto;
			}
		}

		.button--burger-bar {
			.opacity(1);
			position: relative;
			.transition(opacity 0.3s);

			&:hover {
				.opacity(.9);
			}

			.icon--burger-bar {
				
			}

			.icon--close {
				
			}
		}

		.button--mobile-menu-close {
			.opacity(0);
			.transition(opacity 0.3s);
			pointer-events: none;
			position: absolute;
		}
	}

	/* Desktop Navigation */

	.nav--desktop {
		background: transparent;
		margin: 0 0 0 20px;

		.uk-navbar-left {

			.uk-navbar-nav {

				li {
					.font-size(15);
					padding: 0;
					margin-right: 20px;
					position: relative;

					a {
						min-height: auto;
						color: @darkgreen;
						.font-size(15);
						font-family: @basefont;
						position: relative;

						&:hover {
							color: @lightgreen;
						}
					}

					&.uk-active {

						a {
							color: @lightgreen;
						}
					}

					&.has-children {

						a {

							img {
								position: absolute;
								right: 0;
								top: 11px;
							}
						}
					}

					.uk-navbar-dropdown {
						background: @white;
						min-width: auto;
						word-wrap: break-word;
					    white-space: nowrap;
					    padding: 20px 40px 50px;
					    min-width: 600px;
					    top: 57px !important;
					    .box-shadow(@shadow:  0 10px 16px 0 rgba(0, 0, 0, 0.17));
					    left: 15px !important;

						.uk-navbar-dropdown-nav {

							li {
								.font-size(15);
								padding: 10px 0;
								margin-right: 0;

								a {
									.font-size(15);
									color: @textcolor;

									&:hover {
										color: @lightgreen;
									}
								}

								&.uk-active {

									a {
										color: @lightgreen;
									}
								}
							}
						}

						&:after {
							content: '';
							position: absolute;
							top: -6px;
							left: 0;
							width: 78px;
							height: 6px;
							background: @lightgreen;
						}
					}
				}
			}
		}
	}
}

/* Mobile Navigation */

.nav--mobile {
	width: 100%;
}

.block--mobile-nav {
	width: 100%;
	background: rgba(223,221,233, 0.8);

	.inner--mobile-nav {
		padding: 20% 20px 30px 30px;
	}

	.uk-offcanvas-bar {
		width: 72%;
		height: 100%;
		background: @darkgreen;
		overflow-y: auto;
		overflow-x: hidden;
		right: -72%;
		padding: 0;
		z-index: 9998;
		display: block;

		.icon--close {
			width: 51px;
			height: 51px;
			position: absolute;
			left: -76px;
			top: 10px;
			.opacity(0);
			.transition(opacity 0.3s 5s ease);
			display: block;

			img {
				width: 51px;
				height: auto;
			}

			&:hover {
				cursor: pointer;
			}
		}

		&.uk-offcanvas-push {

			.icon--close {
				.opacity(1);
			}
		}
	}

	.uk-nav {

		li {
			.font-size(23);
			font-family: @baseheadingfont;

			a {
				color: @white;

				&:hover {
					color: @lightgreen;
				}
			}

			&:hover, &.uk-active {

				a {
					color: @lightgreen;
				}
			}

			.nav--mobile--children {
				position: absolute;
				top: 0;
				right: -100%;
				width: 100%;
				height: 100%;
				background: @lightgreen;
				.transition(all 0.3s ease);

				ul {
					padding: 20% 20px 30px 30px;

					li {
						.font-size(14);
						margin: 10px 0;

						a {
							color: @darkgreen;

							&:hover {
								color: @white;
							}
						}

						&:hover, &.uk-active {

							a {
								color: @white;
							}
						}

						&.menu-heading {
							.font-size(23);
							font-family: @baseheadingfont;
							color: @darkgreen;
							margin-bottom: 20px;
						}

						&.uk-active {

							a {
								color: @white;
							}
						}
					}
				}

				&.uk-active {
					right: 0;
				}
			}
		}
	}
}

body {

	&.uk-offcanvas-flip {
		overflow-x: visible;
		overflow-y: hidden;
		position: fixed;

		@supports (-webkit-overflow-scrolling: touch) {
			overflow: visible;
		}

		&.uk-offcanvas-container-animation {
			left: -72%;
		}
	}

	&.uk-offcanvas-container {

		.header {

			.header--block--info {

				.header--email {
					.opacity(1);
					pointer-events: auto;
				}

				.header--free-advice {
					.opacity(0);
				}

				.button--burger-bar {
					pointer-events: none;
					.opacity(0);
					position: absolute;

					.icon--burger-bar {
						
					}
				}

				.button--mobile-menu-close {
					pointer-events: auto;
					.opacity(1);
					position: relative;

					&:hover {
						.opacity(.9);
					}
				}
			}
		}
	}

	&.body--style--bg-dark-green {

		.header {

			/* Desktop Navigation */

			.nav--desktop {

				.uk-navbar-left {

					.uk-navbar-nav {

						li {

							a {
								color: @white;

								&:hover {

									a {
										color: @lightgreen;
									}
								}
							}

							&.uk-active {

								a {
									color: @lightgreen;
								}
							}
						}
					}
				}
			}

			.header--block--info {

				.header--free-advice {
					border: 2px solid @white;

					&:hover {
						background: @white;
						color: @darkgreen;
					}
				}
			}

			.header--phone {

				span {
					color: @white;
				}
			}
		}
	}
}

/* Content Blocks */

/* Banner */

.section--banner {
	background: @bannergrey;
	overflow: hidden;

	.container--banner {
		padding: 75px 0 0 0;
		position: relative;

		.uk-container {

		}
	}

	.block--banner--heading {
		position: relative;
		z-index: 3;

		.inner--banner--heading {

			h1, h2 {
				.font-size(33);
				color: @darkgreen;
				line-height: 1.25em;
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			h3, h4, h5, h6 {
				.font-size(28);
				color: @darkgreen;
				line-height: 1.25em;
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			p {
				.font-size(18);
				color: @darkgreen;
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			ul, ol {
				display: none;
			}
		}
	}

	.block--banner--button {
		position: relative;
		z-index: 3;
	}

	.block--banner--img {
		position: relative;
		right: -30%;
		width: 130%;
		z-index: 1;

		.inner--banner--img {

			img {
				max-width: 420px;
				width: 100%;
				height: auto;
			}
		}

		@media only screen and (max-width: 959px) and (min-width: 768px)  {
			width: 100% !important;
			padding-right: 20px !important;
		}
	}

	.block--banner--copy {
		background: @darkgreen;

		.inner--banner--copy {
			padding: 30px;

			h1, h2, h3, h4, h5, h6, p {
				.font-size(21);
				font-weight: 500;
				font-family: @baseheadingfont;
				color: @white;
				line-height: 1.5em;
				margin: 0 0 20px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			ul, ol {
				display: none;
			}

			@media only screen and (max-width: 959px) and (min-width: 768px)  {
				padding: 40px !important;
			}
		}
	}

	/* Service Banner */

	&.section--service--banner {

		.block--banner--heading {

			.inner--banner--heading {
				max-width: 50%;
			}
		}

		.block--banner--button {
			margin-top: 25px;

			.inner--banner--button {

				.uk-button {

				}
			}
		}
	}

	/* Thin Banner */

	&.section--banner-thin {

		.container--banner {
			padding: 75px 0 0;

			&.no-img {
				padding: 75px 0;
			}
		}

		.block--banner--heading {

			.inner--banner--heading {
				padding-right: 55px;
				padding-left: 15px;
			}
		}

		.block--banner--img {

			&.portrait {
				width: 100%;
				right: -20%;

				.inner--banner--img {
					text-align: right;

					img {
						max-height: 300px;
						width: auto;
					}
				}
			}
		}
	}
}

/* Block - Animated Banner Arrows */

.block--animated-arrows {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 2;
	overflow: hidden;

	.inner--animated-arrows {

		.arrow {
			position: absolute;
			.opacity(0);

			img {
				width: 100%;
				height: auto;
			}

			&.arrow--1, &.arrow--1-2 {
				bottom: -20%;
				left: 42%;
				animation: MoveUp1 15s linear infinite;

				img {
					max-width: 70px;
				}
			}

			&.arrow--1-2 {
				animation-delay: 7.5s;
				left: 44%;
			}

			&.arrow--2, &.arrow--2-2 {
				bottom: -20%;
				left: 12%;
				animation: MoveUp1 20s linear infinite;
				animation-delay: 0;

				img {
					max-width: 25px;
				}
			}

			&.arrow--2-2 {
				animation-delay: 10s;
				left: 10%;
			}

			&.arrow--3, &.arrow--3-2 {
				bottom: -20%;
				right: 8%;
				animation: MoveUp1 30s linear infinite;
				animation-delay: 1s;

				img {
					max-width: 33px;
				}
			}

			&.arrow--3-2 {
				animation-delay: 16s;
				right: 10%;
			}

			&.arrow--4, &.arrow--4-2 {
				bottom: -20%;
				display: none;

				img {
					max-width: 90px;
				}
			}
		}
	}
}

@keyframes MoveUp1 {

	0% {
		bottom: -20%;
		.opacity(0);
	}

	10% {
		.opacity(0);
	}

	25% {
		.opacity(1);
	}

	50% {
		bottom: 50%;
		.opacity(1);
	}

	90% {
		.opacity(0);
	}

	100% {
		bottom: 120%;
		.opacity(0);
	}
}

@keyframes MoveUp2 {

	0% {
		bottom: -20%;
		.opacity(0);
	}

	25% {
		.opacity(0.75);
	}

	50% {
		bottom: 50%;
		.opacity(1);
	}

	75% {
		.opacity(0.25);
	}

	100% {
		bottom: 120%;
		.opacity(0);
	}
}

@keyframes MoveUp3 {

	0% {
		bottom: -20%;
		.opacity(0);
	}

	25% {
		.opacity(0.75);
	}

	50% {
		bottom: 50%;
		.opacity(1);
	}

	75% {
		.opacity(0.25);
	}

	100% {
		bottom: 120%;
		.opacity(0);
	}
}

body {

	&.body--style--bg-dark-green {

		.section--banner, .section--banner-thin {
			background: @darkgreen;

			.block--banner--heading {

				.inner--banner--heading {

					h1, h2 {
						color: @white;
					}

					h3, h4, h5, h6 {
						color: @white;
					}

					p {
						color: @white;
					}
				}
			}
		}
	}
}

/* Heading */

.block--heading {

	.inner--heading {
		margin-bottom: 45px;
		text-align: center;

		h1, h2, h3, h4, h5, h6 {
			.font-size(36);
			font-weight: 500;
			color: @darkgreen;
			line-height: 1.2em;
			margin: 0;
		}
	}
}

/* Section: Solutions */

.section--solutions {
	background: @sitelightgrey;
	padding: 40px 0;

	.uk-container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.block--solutions--heading {

		.inner--solutions--heading {
			
		}
	}

	.block--solutions--col {

		.inner--solutions--col {
			padding-bottom: 25px;

			.column-heading {
				text-align: center;

				h3 {
					.font-size(26);
					font-weight: 500;
					color: @darkgreen;
					line-height: 1.35em;
					margin: 0 0 5px;
				}

				h4 {
					.font-size(17);
					font-weight: 500;
					color: @lightgreen;
					line-height: 1.35em;
					margin: 0 0 15px;
				}
			}

			.column-copy {
				margin-bottom: 25px;

				ul {
					list-style: none;
					margin: 0;
					padding: 0;

					li {
						padding: 15px 0 15px 31px;
						margin: 0;
						.font-size(13);
						color: @darkgreen;
						border-bottom: 1px solid @textgrey;
						position: relative;
						display: block;

						&:before {
							content: "";
							position: absolute;
							left: 0;
							top: 50%;
							width: 21px;
							height: 21px;
							background: url('../img/icon-bullet-point-arrow.svg') no-repeat;
							.translate(0, -50%);
						}
					}
				}
			}

			.column-button {
				text-align: center;
			}
		}

		&:last-child {

			.inner--solutions--col {
				padding-bottom: 0;
			}
		}
	}
}

/* Section: Points */

.section--points {
	padding: 40px 0;

	.container--points--heading {
		max-width: 430px;
		margin: 0 auto;
	}

	.container--points--cols {
		max-width: 320px;
		margin: 0 auto;
	}

	.block--points--col {

		.inner--points--col {
			padding-bottom: 25px;

			.point-heading {
				text-align: left;
				padding-left: 48%;
				padding-right: 20px;
				position: relative;
				min-height: 120px;
				margin-bottom: 20px;

				@media only screen and (max-width: 639px)  {
					.flex--vertical-align;
				}

				img {
					position: absolute;
					top: 0;
					max-width: 200px;
					width: 40%;
					height: auto;
					//.translate(0, -50%);
					margin-bottom: 25px;
				}

				h3 {
					.font-size(30);
					color: @darkgreen;
					margin: 0;
					line-height: 1.2em;
				}
			}

			.point-copy {
				padding: 0 20px;

				p {
					.font-size(18);

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&.odd {

			.inner--points--col {

				.point-heading {

					img {
						left: 0;
					}

					h3 {

					}
				}

				.point-copy {
					text-align: right;

					p {

					}
				}
			}
		}

		&.even {

			.inner--points--col {

				.point-heading {
					text-align: left;
					padding-left: 20px;
					padding-right: 40%;

					img {
						right: 0;
					}

					h3 {

					}
				}

				.point-copy {

					p {

					}
				}
			}
		}
	}
}

/* Section: Testimonials */

.section--testimonials {
	margin: 40px 0;

	.container--testimonial {
		background: @darkgreen;
		margin-left: 42px;

		.block--testimonial--img {

			@media only screen and (max-width: 959px) and (min-width: 768px)  {
				width: 50% !important;
			}

			.inner--testimonial--img {
				margin-left: -42px;
				padding: 50px 50px 25px 0;

				img {
					width: 100%;
					max-width: 380px;
					height: auto;
				}
			}
		}

		.block--testimonial--copy {

			@media only screen and (max-width: 959px) and (min-width: 768px)  {
				width: 55% !important;
			}

			.inner--testimonial--copy {
				padding: 30px 0 40px;
				background: url('../img/icon-quote.svg') no-repeat;
				background-position: 15px 0;
				background-size: 22px auto;

				.testimonial--quote {
					padding: 0 35px 0 45px;

					p {
						.font-size(15);
						color: @white;
						line-height: 2em;
						margin: 0 0 25px;

						strong, b {

						}

						em, i {


						}

						&:last-child {
							margin-bottom: 0;
						}
					}
				}

				.testimonial--author {
					margin-top: 40px;
					padding: 0 35px 0 45px;

					p {
						.font-size(17);
						color: @white;
						line-height: 2em;
						margin: 0;

						&.author {

						}

						&.job-title {
							color: @lightgreen;

						}
					}
				}

				.testimonial--nav {
					padding: 0 35px 0 45px;
					margin-top: 25px;

					a {
						display: block;
						line-height: 75px;
						color: @white;
						.font-size(14);
						padding: 0;
						//visibility: visible !important;

						svg {
							display: none;
						}

						img {
							width: 100%;
							max-width: 75px;
							height: auto;
							display: inline-block;
							margin-left: 5px;
						}

						&:hover {
							color: @lightgreen;
						}
					}
				}
			}
		}
	}
}

/* Section: Values */

.section--values {
	padding: 40px 10px;
	margin: 40px 0;

	.container--values--heading {

	}

	.block--values--heading {

		.inner--values--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(36);
			}
		}
	}

	.container--values--cols {


	}

	.block--values--col {

		.inner--values--col {

			img {
				height: 70px;
				width: 100%;
			}

			h3 {
				.font-size(18);
				font-weight: 500;
				color: @darkgreen;
				margin: 0;
			}

			.value--img {
				text-align: center;
				margin-bottom: 10px;
			}

			.value--heading {
				text-align: center;
			}
		}
	}
}

/* Section: News */

.section--news {

	.container--news--heading {

	}

	.block--news--heading {

		.inner--news--heading {
			text-align: left;
			padding: 0 10px;
			margin-bottom: 20px;

			h1, h2, h3, h4, h5, h6 {
				.font-size(44);
				line-height: 55px;
			}

			p, ul, ol, li {
				display: none;
				.font-size(18);
				line-height: 30px;
				font-family: @baseheadingfont;
				font-weight: 500;
				margin: 0 0 25px;

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	.container--news--slider {

	}

	.uk-slider-items {
		//padding: 0 20px;
	}
	
	.uk-slider-container {
		padding: 0 25px;
	}

	.block--news-item {

		.link--news-item {
			display: block;
			width: 100%;
			height: 100%;
			padding: 3px;
			.box-sizing();

			.cover--news {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background: rgba(255, 255, 255, .68);
				.opacity(0);
				.transition(opacity 0.4s);

				.block--news--intro {
					background: @darkgreen;
					width: 100%;
					padding: 20px 25px;
					.box-sizing();

					p {
						color: @white !important;
						.font-size(16);
						line-height: 1.75em;
						margin: 0;
						font-family: @baseheadingfont;
						font-weight: 500;

						span {
							text-transform: uppercase;
							color: @lightgreen;
							display: block;

							&:hover {
								color: @white;
							}
						}

						a {
							color: @lightgreen !important;

							&:hover {
								color: @white !important;
							}
						}
					}
				}
			}

			&:hover, &:focus {

				.cover--news {
					.opacity(1);
				}
			}
		}
	}

	.block--news--slider-contolrs {
		padding: 25px 0;
		text-align: center;

		a {
			display: inline-block;
			margin: 0 14px;
			padding: 0;

			svg {
				display: none;
			}

			&.control--next {

				img {
					.rotate(180deg);
				}
			}
		}
	}
}

/* Section: Contact & Map */

.section--contact {
	background: @darkgreen;
	padding: 30px 15px;
	position: relative;

	.container--contact {
		
	}

	.uk-container {
		max-width: 1200px;
	}

	.block--contact--heading {
		margin-bottom: 20px;
		position: relative;
		z-index: 3;

		.inner--contact--heading {

			h2 {
				.font-size(44);
				line-height: 50px;
				color: @white;
				margin: 0;
			}
		}
	}

	.uk-grid--contact--address {
		margin-bottom: 0;
	}

	.block--contact--address {
		.flex--vertical-align;
		position: relative;
		z-index: 3;

		.inner--contact--address {
			padding: 0;

			h1, h2, h3, h4, h5, h6, p {
				.font-size(18);
				line-height: 32px;
				color: @white;
				margin: -20px 0 20px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			ul, ol {
				display: none;
			}
		}
	}

	.block--contact--mobile-map {
		position: relative;
		z-index: 2;

		.inner--contact--mobile-map {
			text-align: center;

			img {

			}
		}
	}

	.block--contact--phone {
		position: relative;
		z-index: 3;

		.inner--contact--phone {

			p {
				.font-size(27);
				line-height: 30px;
				color: @lightgreen;
				margin: 0;

				a {
					color: @white;

					&:hover {
						color: @lightgreen;
					}
				}
			}
		}
	}

	.block--contact--map {
		position: relative;
		z-index: 2;
	}
}

/* Section: Advice Form */

.section--advice-forms {
	background: @sitelightgrey;
	padding: 25px 0;

	.block--advice-forms--heading {

		.inner--advice-forms--heading {
			text-align: center;

			h1, h2, h3, h4, h5, h6 {
				.font-size(44);
			}

			p {
				color: @lightgreen;
				.font-size(20);
				font-family: @baseheadingfont;
				font-weight: 500;
			}

			ul, ol {
				display: none;
			}
		}
	}

	.advice-forms--nav {

		.uk-subnav {
			margin-left: 0;

			li {
				padding: 0;
				margin: 0;

				a {
					border: 1px solid @darkgreen;
					line-height: 1.5em;
					color: @darkgreen;
					.font-size(17);
					font-family: @baseheadingfont;
					padding: 20px;
					margin: 0;
					text-align: center;
					display: block;
					font-weight: 500;

					&:after {
						.opacity(0);
						.transition(opacity 0.3s);
					}

					&:hover {
						background: @darkgreen;
						color: @white;
						position: relative;

						&:after {
							.form-nav-after;
						}
					}
				}

				&.uk-active {

					a {
						background: @darkgreen;
						color: @white;
						position: relative;

						&:after {
							.form-nav-after;
						}
					}
				}
			}
		}
	}
}

/* Section - Service Intro */

.section--service--intro {
	padding: 25px 20px;

	.uk-container {
		padding: 0;
	}

	.block--service--intro {

		.inner--service--intro {

			h1, h2, h3, h4, h5, h6, p {
				font-family: @basefont;
				font-weight: 600;
				.font-size(20);
				line-height: 1.5em;
				color: @darkgreen;
			}

			ul, ol {
				display: none;
			}
		}
	}
}

/* Section - Service Copy */

.section--service--copy {
	padding: 0 20px;

	.uk-container {
		padding: 0;
	}

	.block--service--copy {
		position: relative;
		padding: 25px 0;

		.inner--service--copy {

			h1, h2, h3, h4, h5, h6 {
				font-family: @basefont;
				font-weight: 600;
				line-height: 1.5em;
				color: @darkgreen;
				margin-bottom: 25px;
			}

			h1, h2 {
				.font-size(18);
			}

			h3 {
				.font-size(16);
			}

			h4, h5, h6 {
				.font-size(14);
			}

			p {
				.font-size(14);
				line-height: 26px;

				&:first-child {
					.font-size(16);
					line-height: 2em;
					color: @darkgreen;
				}
			}

			ul, ol {
				
				li {
					.font-size(14);
					line-height: 26px;
				}
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			width: 210px;
			height: 2px;
			background: #d6d6d6;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 70px;
			height: 4px;
			background: @lightgreen;
			z-index: 2;
		}
	}
}

body {

	&.temp--default {

		.section--service--copy {

			.block--service--copy {

				&:before {
					width: 0;
					height: 0;
					display: none;
				}

				&:after {
					width: 0;
					height: 0;
					display: none;
				}
			}
		}
	}
}

/* Section - News Banner */

.section--news--banner {
	padding: 20px 30px 40px;
	border-bottom: 1px solid @lightgreen;
	
	.uk-container {
		padding: 0;
	}

	.grid--news-banner {

	}

	.block--news--banner--heading {

		.inner--news--banner--heading {
			padding: 0 55px 0 0;

			h1 {
				.font-size(28);
				color: @darkgreen;
				margin: 0 0 25px;
				line-height: 1.5em;
			}

			.banner--heading--category {

				p {
					.font-size(14);
					line-height: 1.5em;
					margin: 0;
					color: @lightgreen;

					a {
						color: @textgrey;

						&:hover {
							color: @lightgreen;
						}
					}
				}
			}

			.banner--heading--date {

				p {
					.font-size(14);
					line-height: 1.5em;
					margin: 0;
					color: @lightgreen;
				}
			}
		}
	}

	.block--news--banner--img {

		.inner--news--banner--img {

			img {
				//max-width: 375px;
				width: 100%;
				height: auto;
			}
		}
	}
}

/* Section - News Content */

.section--news--content {
	padding: 30px;

	.uk-container {
		padding: 0;
	}

	.grid--news--content {

	}

	.block--news--content--copy {

		.inner--news--content--copy {

			h1, h2, h3, h4, h5, h6 {
				margin: 0 0 30px;
				line-height: 1.5em;
				color: @darkgreen;
				font-weight: 600;
			}

			h1, h2 {
				.font-size(24);
			}

			h3 {
				.font-size(20);
			}

			h4, h5, h6 {
				.font-size(16);
			}

			p {
				.font-size(16);
				margin: 0 0 30px;
			}

			ol, ul {
				margin: 0 0 30px 17px;

				li {
					.font-size(16);
					padding-left: 5px;
					color: @darkgreen;
					font-weight: 600;
				}
			}

			a {
				font-weight: 600;
			}
		}
	}
}

/* Sidebar */

.block--sidebar {

	.inner--sidebar {

		.block--sidebar--nav {
			margin-bottom: 30px;

			.inner--sidebar--nav {
				position: relative;
				padding-bottom: 10px;

				nav {

					ul {
						list-style: none;
						margin: 0;
						padding: 0;

						li {
							.font-size(16);
							color: @darkgreen;
							line-height: 1.5em;
							margin: 10px 0;
							padding: 0;
							font-weight: 500;

							a {
								color: @darkgreen;

								&:hover {
									color: @lightgreen;
								}
							}

							&.uk-active {

								a {
									color: @lightgreen;
								}
							}
						}
					}
				}

				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 111px;
					height: 4px;
					background: @lightgreen;
				}
			}
		}

		.block--sidebar--cats {

			.inner--sidebar--cats {

				nav {

					ul {
						list-style: none;
						margin: 0;
						padding: 0;

						li {
							.font-size(16);
							color: @textgrey;
							line-height: 1.5em;
							margin: 10px 0;
							padding: 0;
							font-weight: 500;

							a {
								color: @textgrey;

								&:hover {
									color: @darkgreen;
								}
							}

							&.uk-active {

								a {
									color: @darkgreen;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Section - Copy & Image */

.section--copy-image {
	padding: 35px 15px;

	.uk-container {

	}

	.grid--copy-image--content {

	}

	.block--copy-image--copy {

		.inner--copy-image--copy {

			h1, h2, h3, h4, h5, h6 {
				margin: 0 0 30px;
				padding: 0 0 25px;
				line-height: 1.5em;
				color: @darkgreen;
				font-weight: 600;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 70%;
					height: 2px;
					background: #d6d6d6;
					z-index: 1;
				}

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					max-width: 111px;
					width: 25%;
					height: 4px;
					background: @lightgreen;
					z-index: 2;
				}
			}

			h1, h2 {
				.font-size(16);
			}

			h3, h4, h5, h6 {
				.font-size(14);
			}

			p {
				.font-size(14);
				line-height: 26px;
				margin: 0 0 25px;
			}

			ol, ul {
				margin: 0 0 30px 17px;

				li {
					.font-size(14);
					padding-left: 5px;
					color: @darkgreen;
					font-weight: 600;
				}
			}

			.copy--button {
				margin-top: 40px;
			}
		}
	}

	.block--copy-image--img {

		.inner--copy-image--img {

			img {
				max-width: 890px;
				width: 100%;
				height: auto;
			}
		}
	}

	@media only screen and (max-width: 1599px) and (min-width: 1320px)  {
		
		.uk-container {
			max-width: 1200px;
			padding: 0 60px;
		}
	}
}

/* Section - Stats */

.section--stats {
	padding: 30px;

	.uk-container {
		padding: 0;
	}

	.grid--stats--content {

	}

	.block--stats--stat {

		.inner--stats--stat {

			h1, h2, h3, h4, h5, h6 {
				margin: 0;
				color: @darkgreen;
				font-weight: 600;
				.font-size(38);
				line-height: 1.35em;

				@media only screen and (max-width: 860px) and (min-width: 640px)  {
					.font-size(36) !important;
					line-height: 1.35em !important;
				}
			}

			p {
				.font-size(24);
				line-height: 1.25em;
				font-family: @baseheadingfont;
				font-weight: 600;
				margin: 0;
				color: @darkgreen;

				@media only screen and (max-width: 860px) and (min-width: 640px)  {
					.font-size(20) !important;
					line-height: 1.25em !important;
				}
			}

			ol, ul {
				display: none;
			}
		}
	}
}

/* Section - Team */

.section--team {
	padding: 45px 30px;
	background: @bannergrey;
	margin-top: 30px;

	.uk-container {
		padding: 0;
	}

	.block--team--heading {

		.inner--team--heading {

			h2 {

			}
		}
	}

	.grid--team--members {

	}

	.block--team--member {

		.inner--team--member {

			.member--img {
				margin-bottom: 30px;

				img {
					max-width: 275px;
					width: 100%;
					height: auto;
				}
			}

			.member--heading {
				margin-bottom: 20px;

				h3 {
					font-family: @basefont;
					font-weight: 600;
					.font-size(16);
					color: @darkgreen;
					margin: 0;
					line-height: 20px;
				}
			}

			.member--copy {

				h1, h2, h3, h4, h5, h6 {
					font-family: @basefont;
					font-weight: 600;
					.font-size(16);
					color: @darkgreen;
					margin: 0;
					line-height: 20px;
				}

				p {
					.font-size(14);
					line-height: 26px;
					margin: 0 0 30px;
				}

				ol, ul {
					margin: 0 0 30px 17px;

					li {
						.font-size(14);
						padding-left: 5px;
						color: @darkgreen;
						font-weight: 600;
					}
				}
			}
		}
	}
}

/* Section - News & Events */

.section--news-events {
	padding: 30px;

	.uk-container {
		padding: 0;
	}

	.grid--news-events--content {

	}

	.block--news-events--list {

		.inner--news-events--list {

			.block--article--list-item {
				border-bottom: 1px solid @textgrey;
				padding: 0 0 40px;
				margin: 0 0 40px;
			}

			.grid--article--list-item {

				.article--list-item--img {

					.inner--list-item--img {

						a {
							display: block;

							img {
								.transition(opacity 0.3s);
								max-width: 275px;
								width: 100%;
								height: auto;
								.opacity(1);
							}

							&:hover {

								img {
									.opacity(.8);
								}
							}
						}
					}
				}

				.article--list-item--copy {

					.inner--list-item--copy {

						.list-item--copy--category {

							p {
								.font-size(16);
								font-weight: 600;
								color: @textgrey;
								margin: 0 0 10px;
								line-height: 20px;

								a {
									color: @textgrey;

									&:hover {
										color: @lightgreen;
									}
								}
							}
						}

						h3 {
							.font-size(23);
							line-height: 32px;
							color: @darkgreen;
							margin-bottom: 10px;
							font-family: @basefont;
						}

						p {
							.font-size(14);
							color: @lightgreen;
							line-height: 27px;
							margin-bottom: 20px;
						}

						.list-item--copy--button {

						}
					}

					&.empty {

						.inner--list-item--copy {

							p {

							}
						}
					}
				}
			}
		}
	}
}

/* Pagination */

.block--news-events--pagination {

	.uk-pagination {

		li {

			a {
				color: @lightgreen;
				.font-size(16);
				font-weight: 600;

				&:hover {
					color: @darkgreen;
				}
			}
		}
	}
}

/* Section FAQs */

.block--faqs--list {
	margin-bottom: 30px;

	.inner--faqs--list {

		.block--faq {

			.accordion--level-1 {
				margin: 0;
				padding: 0;

				li {
					padding: 0;
					margin: 0;

					.uk-accordion-title--level-1 {
						.font-size(18);
						line-height: 1.35em;
						color: @darkgreen;
						font-weight: 600;
						font-family: @basefont;
						padding: 18px 55px 18px 0;
						border-bottom: 1px solid @bannergrey;
						position: relative;

						&:after {
							content: '';
							position: absolute;
							top: 12px;
							right: 10px;
							width: 35px;
							height: 35px;
							background: url('../img/icon-faq-arrow.svg') no-repeat;
							background-size: 35px auto;
							.transition(all 0.3s);
						}

						&:hover {

							span {
								color: @lightgreen;
							}
						}
					}

					.block--faq--level-1 {
						border-bottom: 1px solid @bannergrey;
						padding-bottom: 18px;
					}

					&.uk-open {

						.uk-accordion-title--level-1 {

							&:after {
								.rotate(180deg);
							}

							&:hover {

								span {
									color: @darkgreen;
								}
							}
						}
					}
				}
			}

			.accordion--level-2 {
				margin: 0;
				padding: 0;

				li {
					border-bottom: none;
					padding: 13px 0 0 0;
					margin: 0 0 13px;

					.uk-accordion-title--level-2 {
						.font-size(14);
						line-height: 1.35em;
						color: @textdark;
						font-family: @basefont;
						padding: 0 50px 0 20px;
						position: relative;
						line-height: 25px;

						&:after {
							content: '';
							position: absolute;
							top: 0;
							right: 15px;
							width: 25px;
							height: 25px;
							background: url('../img/icon-faq-arrow-sm.svg') no-repeat;
							background-size: 25px auto;
							.transition(all 0.3s);
						}

						&:hover {
							color: @lightgreen;
						}
					}

					.uk-accordion-content {
						margin-top: 13px;
					}

					.block--faq--level-2 {
						background: @white;
						padding: 25px 20px 13px 20px;

						p {
							.font-size(13);
							color: @textdark;
							font-family: @basefont;
							line-height: 1.75;

							&:last-child {
								margin-bottom: 0;
							}
						}
					}

					&.uk-open {
						background: @bannergrey;

						.uk-accordion-title--level-2 {

							&:after {
								.rotate(180deg);
							}

							&:hover {
								color: @textdark;
							}
						}
					}
				}
			}
		}
	}
}

/* Footer */

.footer {

	/* Top Footer */

	.block--footer-top {
		background: @sitedarkgrey;
		padding: 40px 0;

		.block--footer-top--left {

			.inner--footer-top--left {
				text-align: center;

				.footer-menu {
					margin: 0 0 10px;
					padding: 0;
					list-style: none;

					li {
						margin: 0;
						padding: 0;
						display: block;
						font-weight: 500;
						.font-size(20);
						text-transform: uppercase;
						color: @darkgreen;
						font-family: @baseheadingfont;
						line-height: 1.5em;

						a {
							color: @darkgreen;
							margin: 0 0 20px;
							display: block;

							&:hover {
								color: @lightgreen;
							}
						}

						&.uk-active {

							a {
								//color: @lightgreen;
							}
						}

						ul {
							text-align: center;
							vertical-align: top;

							li {
								text-transform: none;
								.font-size(14);
								color: @textdark;
								margin: 0 0 20px;

								a {
									color: @textdark;
									margin: 0;

									&:hover {
										color: @lightgreen;
									}
								}

								&.uk-active {

									a {
										color: @lightgreen;
									}
								}
							}
						}
					}
				}
			}
		}

		.block--footer-top--center {

			.inner--footer-top--center {

				.footer-menu {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						margin: 0;
						padding: 0;
						display: block;
						font-weight: 500;
						.font-size(16);
						text-transform: uppercase;
						color: @darkgreen;
						font-family: @baseheadingfont;
						line-height: 1.5em;

						a {
							color: @darkgreen;
							margin: 0 0 15px;
							display: block;

							&:hover {
								color: @lightgreen;
							}
						}

						&.uk-active {

							a {
								color: @lightgreen;
							}
						}
					}
				}
			}
		}

		.block--footer-top--right {

			.inner--footer-top--right {
				text-align: center;

				.social-list {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						margin: 0 10px;
						padding: 0;
						display: inline-block;

						a {
							.opacity(1);
							.transition(opacity 0.3s ease);
							display: block;

							img {
								display: block;
							}

							&:hover {
								.opacity(0.9);
							}
						}
					}
				}
			}

			@media only screen and (max-width: 1199px) and (min-width: 960px)  {
				.flex--vertical-align;
			}
		}
	}

	/* Bottom Footer */

	.block--footer-bottom {
		background: @darkgreen;
		padding: 20px 0;

		.block--footer-bottom--left {

			.inner--footer-bottom--left {
				text-align: center;

				ul {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						margin: 0;
						padding: 0;
						display: block;
						font-weight: 500;
						.font-size(16);
						color: @white;
						font-family: @baseheadingfont;
						line-height: 1.5em;

						a {
							color: @white;

							&:hover {
								color: @lightgreen;
							}
						}

						&.uk-active {

							a {
								color: @lightgreen;
							}
						}
					}
				}
			}
		}

		.block--footer-bottom--right {

			.inner--footer-bottom--right {
				text-align: center;

				p {
					.font-size(16);
					color: @white;
					font-family: @baseheadingfont;
					margin: 0;
					line-height: 1.5em;
					font-weight: 500;
				}
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. ANIMATION 			==============================