//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================


// Global variables
// ========================================================================

//
// Breakpoint Override
//

@breakpoint-phone:    480px;  // Small Phone
@breakpoint-small:    640px;  // Phone landscape
@breakpoint-medium:   960px;  // Tablet Landscape
@breakpoint-large:    1200px; // Desktop
@breakpoint-xlarge:   1600px; // Large Screens

@breakpoint-phablet:  @breakpoint-small;

/* Variables =================================================== */

// 1. ROOT          ==============================

@bodycolor : @white;
@textcolor : @textdark;

// 2. TYPOGRAPHY      ==============================

@basefont : @font-regular, sans-serif;
@basefontsize : 16;
@baselineheight : 25px;
@baseheadingfont : @font-heading, @font-poppins, sans-serif;
@baseheadingfontweight : normal;
@baseheadingfontcolor : inherit;

@altfont : Cambria, Georgia, Times, "Times New Roman";
@altlineheight : 1.35em;

@codefont : Monaco, Courier New, monospace;

//@font-light         : "Gilroy Light";
@font-regular       : "Roboto";
//@font-bold          : "Gilroy Extra Bold";
//@font-heavy         : "Gilroy Heavy";

@font-heading       : "futura-pt";
@font-poppins       : "Poppins";

// 3. COLOUR        ==============================

@basecolor          : rgb(45,53,62);    
@compcolor          : spin(@basecolor, 180); 
@bordercolor        : lighten(@basecolor, 60%);

// Links

@linkcolor            : @black;
@linkcolorhover       : @black;
@linkcolorvisited     : @black;
@linkcolorfocus       : @black;

// greyscale

@black          : rgb(0,0,0);
@darkgrey       : lighten(@black, 25%);
@grey           : lighten(@black, 50%);
@lightgrey      : lighten(@black, 75%);
@lightergrey    : lighten(@black, 90%);
@white          : rgb(255,255,255);

// colour palettes

@alertcolor     : rgb(252,248,227);
@errorcolor     : rgb(218,79,73);
@infocolor      : rgb(217,237,247);
@inverscolor    : rgb(65,65,65);
@successcolor   : rgb(91,183,91);
@warningcolor   : rgb(250,167,50);


// site greyscale colours

@sitelightgrey 		: #e7e8ec;
@sitedarkgrey 		: #d0d5d6;
@bannergrey			: #dfe7e9;
@textgrey			: #a3a2a1;

// site colours

@darkgreen			: #135755;
@lightgreen			: #a0c63f;
@sitered 			: #E84855;
@siteblue 			: @darkgreen;

// text colours

@textdark           : #677792;

// Fonts:       
//
// ========================================================================

@icon-font-path:                                "../fonts";

@import url('https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto&display=swap');
@import url("https://use.typekit.net/kba7zcq.css");