{# Default Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--default" %}

{% if not entry is defined %}

	{% set entry = craft.entries()
    .section('pages')
    .slug(craft.app.request.getSegment(1))
    .one() %}

{% endif %}

{% if craft.app.request.getSegment(2) == "category" %}

	{% set entry = craft.entries()
    .section('pages')
    .slug(craft.app.request.getSegment(1))
    .one() %}

{% endif %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% if entry.headerStyle|length %}

	{% set headerStyle = entry.headerStyle %}
	{% set bodyHeaderStyle = 'body--' ~ entry.headerStyle %}

{% endif %}

{% block content %}

    {# Content Blocks #}

    {% include '_inc/_content-blocks' %}

{% endblock %}