{# Service Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--service" %}
{% set headerStyle = "style--bg-transparent" %}

{% if not entry is defined %}

	{% set entry = craft.entries()
    .section('pages')
    .slug(craft.app.request.getSegment(1))
    .one() %}

{% endif %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% if entry.headerStyle|length %}

	{% set headerStyle = entry.headerStyle %}

{% endif %}

{% block content %}

	{# Service Blocks #}

	{# Banner #}

	{% if entry.banner|length %}

		{% include '_inc/_blocks/_serviceBanner' %}

	{% endif %}

	{# Intro #}

	{% if entry.intro|length %}

		{% include '_inc/_blocks/_serviceIntro' %}

	{% endif %}

	{# Copy #}

	{% if entry.copy|length %}

		{% include '_inc/_blocks/_serviceCopy' %}

	{% endif %}

    {# Content Blocks #}

    {% include '_inc/_content-blocks' %}

{% endblock %}