{# Content Blocks #}

{% if entry.contentBlocks|length %}

	{% for block in entry.contentBlocks.all() %}

		{% set currentLoop = loop.index %}
		{% set nextLoop = loop.index + 1 %}

		{% set blockVars = { currentLoop : loop.index, nextLoop : loop.index + 1 } %}

		{% switch block.type %}

			{% case "banner" %}

				{% include '_inc/_blocks/_banner' with blockVars %}

			{% case "bannerThin" %}

				{% include '_inc/_blocks/_bannerThin' with blockVars %}

			{% case "solutions" %}

				{% include '_inc/_blocks/_solutions' with blockVars %}

			{% case "points" %}

				{% include '_inc/_blocks/_points' with blockVars %}

			{% case "testimonial" %}

				{% include '_inc/_blocks/_testimonial' with blockVars %}

			{% case "values" %}

				{% include '_inc/_blocks/_values' with blockVars %}

			{% case "news" %}

				{% include '_inc/_blocks/_news' with blockVars %}

			{% case "contact" %}

				{% if block.showContact == 1 %}

					{% include '_inc/_blocks/_contact' with blockVars %}

				{% endif %}

			{% case "adviceForm" %}

				{% if block.showAdviceForm == 1 %}

					{% include '_inc/_blocks/_adviceForm' with blockVars %}

				{% endif %}

			{% case "plainText" %}

				{% include '_inc/_blocks/_plainText' with blockVars %}

			{% case "copyImage" %}

				{% include '_inc/_blocks/_copyImage' with blockVars %}

			{% case "stats" %}

				{% include '_inc/_blocks/_stats' with blockVars %}

			{% case "team" %}

				{% include '_inc/_blocks/_team' with blockVars %}

			{% case "newsEvents" %}

				{% if block.showList == 1 %}

					{% include '_inc/_blocks/_newsEvents' with blockVars %}

				{% endif %}

			{% case "downloadsFaqs" %}

				{% if block.showList == 1 %}

					{% include '_inc/_blocks/_downloadsFaqs' with blockVars %}

				{% endif %}

			{% default %}

		{% endswitch %}

	{% endfor %}

{% endif %}