{# News Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--news--detail" %}
{% set headerStyle = "style--bg-white" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

	{# Banner #}

	<section class="section--news--banner">
	
		<div class="uk-container">
		
			<div class="grid--news-banner" uk-grid>
			
				<div class="block--news--banner--heading uk-width-1-1 uk-width-1-2@s">
				
					<div class="inner--news--banner--heading">
					
						<h1>{{ entry.title }}</h1>

						{% if entry.newsCategory|length %}

							{% set categories = entry.newsCategory.all() %}

							<div class="banner--heading--category">

								<p>
							
									{% for category in categories %}

										<a href="{{ category.getUrl() }}">{{ category.title }}</a>{% if not loop.last %}, {% endif %}
										
									{% endfor %}

								</p>
							
							</div>

						{% endif %}

						<div class="banner--heading--date">
						
							<p>{{ entry.postDate|date('F j, Y') }}</p>
						
						</div>
					
					</div>
				
				</div>

				{% if entry.img|length %}

					{% set asset = entry.img.one() %}

						{% set thumb = {
						    mode: 'crop',
						    width: 756,
						    height: 756,
						    quality: 70,
						    position: 'center-center'
						} %}

					<div class="block--news--banner--img uk-width-1-1 uk-width-1-2@s">
				
						<div class="inner--news--banner--img">

							<img src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}">

						</div>

					</div>

				{% endif %}
			
			</div>
		
		</div>
	
	</section>

	{# Content #}

	<section class="section--news--content">
	
		<div class="uk-container">
		
			<div class="grid--news--content uk-grid-collapse uk-flex" uk-grid>

				{# Copy #}
			
				<div class="block--news--content--copy uk-width-1-1 uk-width-2-3@s uk-width-3-4@m">
				
					<div class="inner--news--content--copy">

						{{ entry.copy }}

						<p><a href="{{ url(craft.app.request.getSegment(1)) }}">Back to All</a></p>

					</div>
				
				</div>

				{# Sidebar #}

				<div class="block--sidebar uk-width-1-1 uk-width-1-3@s uk-width-1-4@m uk-flex-first@s">
				
					<div class="inner--sidebar">

						{# Nav #}
						
						{% include "_inc/_sidebar/_nav" with { listType : 'news', parent : 'news-events' } %}

						{# Categories #}

						{% include "_inc/_sidebar/_categories" with { listType : 'news' } %}
				
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>

    {# Content Blocks #}

    {# Contact #}

    {% include '_inc/_blocks/_contact' %}

	{# Advice Forms #}

	{% include '_inc/_blocks/_adviceForm' %}

{% endblock %}