{# Menu - Footer Left #}

{% set nodes = craft.navigation.nodes()
    .handle('footerLeft')
    .all()
%}

{% if nodes|length %}

	<ul class="footer-menu">

		{% nav node in nodes %}

			<li{% if node.active %} class="uk-active"{% endif %}>

				<a href="{{ node.url }}" {% if node.type == null %} uk-toggle{% endif %}>{{ node.title }}</a>

				{% ifchildren %}

	                <ul class="uk-column-1-2">

	                    {% children %}

	                </ul>

	            {% endifchildren %}

			</li>

		{% endnav %}

	</ul>

{% endif %}