{# Menu - Main #}

{% set nodes = craft.navigation.nodes()
    .handle('main')
    .all()
%}

<nav class="uk-navbar-container uk-visible@l nav--desktop" uk-navbar>

    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">

        	{% nav node in nodes %}

	            <li class="{% if node.classes %}{{ node.classes }}{% endif %}{% if node.active %} uk-active{% endif %}{% if node.hasDescendants %} has-children{% endif %}">

	                <a href="{{ node.url }}">

	                	{{ node.title }}

	                	{% if node.hasDescendants %}

	                		<img src="{{ url('assets/img/icon-nav-down-arrow.svg') }}" alt="navigation arrow icon">

	                	{% endif %}

	                </a>

	                {% ifchildren %}

	                	<div class="uk-navbar-dropdown">

			                <ul class="uk-nav uk-navbar-dropdown-nav uk-child-width-1-2 uk-grid-collapse" uk-grid>

			                    {% children %}

			                </ul>

			            </div>

		            {% endifchildren %}

	            </li>

            {% endnav %}

        </ul>

    </div>

</nav>