{# Block - Banner Thin #}

<section class="section--banner section--banner-thin">

	<div class="container--banner{% if not block.img|length %} no-img{% endif %}">

		{# Animated Arrows #}

		{% if block.addAnimatedArrows == 1 %}

			{% include "_inc/_blocks/_animatedArrows" with { arrowType : 'regular' } %}

		{% endif %}
	
		<div class="uk-container">

			{# Heading / Button #}

			{% set heading = '<h1>' ~ entry.title ~ '</h1>' %}

			{% if block.copyOverride|length %}

				{% set heading = block.copyOverride %}

			{% endif %}

			<div class="block--banner--heading">

				<div class="inner--banner--heading hide--element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 250;">
				
					{{ heading|raw }}
				
				</div>
			
			</div>

			{# Image #}

			{% if block.img|length %}

				{% set asset = block.img.one() %}

				{% set ratio = 'portrait' %}

				{% if asset.width > asset.height %}

					{% set ratio = 'landscape' %}

				{% endif %}

				<div class="block--banner--img {{ ratio }}">

					<div class="inner--banner--img hide--element" uk-scrollspy="cls: animated show--element fadeIn; delay: 500;">
					
						<img src="{{ asset.getUrl() }}" title="{{ asset.title }}" class="{{ ratio }}">
					
					</div>
				
				</div>

			{% endif %}

		</div>
	
	</div>

</section>