{# Block - News #}

{% if block.showNews == 1 %}

	{% set newsQuery = craft.entries()
	    .section('news')
	    .limit(5) %}

	{% set news = newsQuery.all() %}

	{% if news|length %}

		<section class="section--news hide--element" uk-scrollspy="cls: animated show--element fadeIn; delay: 250">

			{# Heading / Copy #}

			{% if blockNews.copy|length %}

				<div class="container--news--heading">
				
					<div class="uk-container">
					
						<div class="block--heading block--news--heading">
						
							<div class="inner--heading inner--news--heading">
							
								{{ blockNews.copy }}
							
							</div>
						
						</div>
					
					</div>
				
				</div>

			{% endif %}

			{# News Slider #}

			<div class="container--news--slider">

				<div uk-slider>

					<div class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m">

						{% for newsItem in news %}

							<div class="block--news-item">

								<a href="{{ newsItem.getUrl() }}" class="link--news-item">
							
									<div class="uk-cover-container">

										{% if newsItem.img|length %}

											{% set asset = newsItem.img.one() %}

											<canvas width="400" height="400"></canvas>

											<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" uk-cover>

										{% endif %}

										<div class="cover--news uk-inline">
										
											<div class="block--news--intro uk-position-bottom uk-overlay uk-overlay-default">

												{% spaceless %}
													
													<p>

														{{ newsItem.newsIntro }}

														<span>Tell me more</span>

														{# <a href="{{ newsItem.getUrl() }}" class="uk-text-uppercase">Tell me more</a> #}

													</p>
											
												{% endspaceless %}
											
											</div>
										
										</div>

									</div>

								</a>
							
							</div>
							
						{% endfor %}
						
					</div>

					{# Controls #}

					<div class="block--news--slider-contolrs">
					
						<a class="control--prev" href="#" uk-slidenav-previous uk-slider-item="previous"><img src="{{ url('assets/img/icon-news-slider-arrow.svg') }}" alt="previous slide"></a>

    					<a class="control--next" href="#" uk-slidenav-next uk-slider-item="next"><img src="{{ url('assets/img/icon-news-slider-arrow.svg') }}" alt="next slide"></a>
					
					</div>

				</div>

			</div>

		</section>

	{% endif %}

{% endif %}