{# Block - Stats #}

<section class="section--stats">

	<div class="uk-container">

		{% if block.statBlocks|length %}

			{% set stats = block.statBlocks.all() %}

			<div class="grid--stats--content" uk-grid>
			
				{% for stat in stats %}

					<div class="block--stats--stat uk-width-1-1 uk-width-1-3@s">
					
						<div class="inner--stats--stat hide--element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 250;">

							{{ stat.copy }}

						</div>

					</div>

				{% endfor %}

			</div>

		{% endif %}

	</div>

</section>