{# Block - Team #}

<section class="section--team hide--element" uk-scrollspy="cls: animated show--element fadeIn; delay: 250;">

	<div class="uk-container">
	
		{% if block.heading|length %}

			<div class="block--heading block--team--heading">
				
				<div class="inner--heading inner--team--heading">
				
					<h2>{{ block.heading }}</h2>
				
				</div>
			
			</div>

		{% endif %}

		{% if block.teamMembers|length %}

			{% set members = block.teamMembers.all() %}

			<div class="grid--team--members" uk-grid>
			
				{% for member in members %}

					<div class="block--team--member uk-width-1-1 uk-width-1-3@s">
					
						<div class="inner--team--member">
						
							{% if member.img|length %}

								{% set asset = member.img.one().getUrl() %}

							{% else %}

								{% set asset = url("uploads/team/Group-245@2x.png") %}

							{% endif %}

							<div class="member--img">
								
								<img src="{{ asset }}" alt="{{ member.title }}">
							
							</div>

							<div class="member--heading">
							
								<h3>{{ member.title }}</h3>
							
							</div>

							{% if member.copy|length %}

								<div class="member--copy">
								
									{{ member.copy }}
								
								</div>

							{% endif %}
						
						</div>
					
					</div>
					
				{% endfor %}
			
			</div>

		{% endif %}
	
	</div>

</section>