{# Sidebar - Navigation #}

{% set entry = craft.entries()
    .section('pages')
    .slug(parent)
    .one() %}

{% set entries = craft.entries()
    .descendantOf(entry)
    .all() %}

{% if entries|length %}

	<div class="block--sidebar--nav">
							
		<div class="inner--sidebar--nav">

			<nav>

				<ul>

					{% for entry in entries %}

						<li{% if craft.app.request.getSegment(1) == entry.slug %} class="uk-active"{% endif %}><a href="{{ entry.getUrl() }}">{{ entry.title }}</a></li>
						
					{% endfor %}
				
				</ul>

			</nav>

		</div>

	</div>

{% endif %}