{# Footer #}

<footer class="footer">

	<div class="block--footer-top">
	
		<div class="uk-container">

			<div class="grid--footer-top" uk-grid>
			
				<div class="block--footer-top--left uk-visible@s uk-width-1-1 uk-width-2-3@m uk-width-3-5@l">
				
					<div class="inner--footer-top--left">
					
						{# Footer Menu Left #}

						{% include '_inc/_menus/_footer-left' %}
					
					</div>
				
				</div>

				<div class="block--footer-top--center uk-visible@l uk-width-1-5@l">
				
					<div class="inner--footer-top--center">
					
						{# Footer Menu Right #}

						{% include '_inc/_menus/_footer-right' %}
					
					</div>
				
				</div>

				<div class="block--footer-top--right uk-width-1-1 uk-width-1-3@m uk-width-1-5@l">
				
					<div class="inner--footer-top--right">
					
						{# Social Media #}

						{% if socialMedia.platforms|length %}

							{% set platforms = socialMedia.platforms.all() %}

							<ul class="social-list">

								{% for platform in platforms %}

									{% if platform.icon|length %}

										{% set link = '##' %}

										{% if platform.platformLink|length %}

											{% set link = platform.platformLink.url %}

										{% endif %}
										
										<li class="social-el">

											<a href="{{ link }}" target="_blank">

												{% set asset = platform.icon.one() %}

												<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">

											</a>

										</li>

									{% endif %}
									
								{% endfor %}

							</ul>

						{% endif %}
					
					</div>
				
				</div>
			
			</div>		

		</div>
	
	</div>

	<div class="block--footer-bottom">
	
		<div class="uk-container">

			<div class="grid--footer-bottom uk-grid-small" uk-grid>

				{# Footer Menu Bottom #}
			
				<div class="block--footer-bottom--left uk-width-1-1 uk-width-1-2@m">
				
					<div class="inner--footer-bottom--left">

						{% include '_inc/_menus/_footer-bottom' %}

					</div>
				
				</div>

				{# Copyright #}

				<div class="block--footer-bottom--right uk-width-1-1 uk-width-1-2@m">
				
					<div class="inner--footer-bottom--right">
			
						{% if copyright.text|length %}

							<p>{{ copyright.text }}</p>

						{% endif %}

					</div>
				
				</div>
			
			</div>		

		</div>
	
	</div>

</footer>
