{# Header #}

<header class="header{% if headerStyleVar != null %} {{ headerStyleVar }}{% endif %}">

	<div class="uk-container hide--element" uk-scrollspy="cls: animated show--element fadeInDown; delay: 50;">

		<div class="grid--header uk-grid-collapse" uk-grid>
		
			{# Logo #}
			
			<div class="header--block--logo uk-width-2-3 uk-width-1-2@s uk-width-1-6@l">

				<div class="header--inner--logo">
				
					<a href="{{ siteUrl }}">

						{% set logoUrl = url('assets/img/logo.svg') %}

						{% if headerStyleVar == "style--bg-dark-green" %}

							{% set logoUrl = url('assets/img/logo-white.svg') %}

						{% endif %}

						<img src="{{ logoUrl }}" alt="{{ siteName }} logo">

					</a>
				
				</div>
			
			</div>

			{# Main Menu #}

			<div class="header--block--nav uk-width-1-2@l">

				<div class="header--inner--nav uk-flex uk-flex-middle uk-text-left uk-flex-left">
				
					{% include '_inc/_menus/_main' %}
				
				</div>
					
			</div>

			{# Info #}

			<div class="header--block--info uk-width-1-3 uk-width-1-2@s uk-width-1-3@l">

				<div class="header--inner--info uk-flex-right@s uk-text-right">

					{# Phone Number (with icon) #}
				
					{% if phoneNumber.telephone|length %}

						<a href="tel:{{ phoneNumber.telephone|replace({' ': ''}) }}" class="header--phone">

							{% set phoneUrl = url('assets/img/icon-phone-header.svg') %}

							{% if headerStyleVar == "style--bg-dark-green" %}

								{% set phoneUrl = url('assets/img/icon-phone-header-white.svg') %}

							{% endif %}

							<img src="{{ phoneUrl }}" alt="Call us now icon">

							<span class="uk-visible@l">{{ phoneNumber.telephone }}</span>

						</a>

					{% endif %}

					{# Email Icon (mobile nav) #}

					{% set emailAddress = '#' %}

					{% if email.emailAddress|length %}

						{% set emailAddress = email.emailAddress %}

						<a href="mailto:{{ emailAddress }}" class="header--email">

							<img src="{{ url('assets/img/icon-email-header.svg') }}" alt="Email us now icon">

						</a>

					{% endif %}

					{# Free Advice Button #}
					
					<a href="#section--contact" class="header--free-advice uk-button uk-visible@s" id="header--free-advice" uk-scroll>Free Advice</a>

					{# Fix - Change free advice button action if contact block does not exist #}

					{% js %}

						$(document).ready(function() {

							if ($('#section--contact').length == 0) {

								$('#header--free-advice').prop('href', 'mailto:{{ emailAddress }}');
								$('#header--free-advice').removeAttr('uk-scroll');

							}

						});

					{% endjs %}

					{# Mobile Nav Burger Bar #}

					<a href="#offcanvas--mobile-nav" class="uk-hidden@l button--burger-bar" uk-toggle>

						{% set burgerUrl = url('assets/img/icon-burger-bar.svg') %}

						{% if headerStyleVar == "style--bg-dark-green" %}

							{% set burgerUrl = url('assets/img/icon-burger-bar-white.svg') %}

						{% endif %}

						<img src="{{ burgerUrl }}" alt="Mobile mene icon" class="icon--burger-bar">

					</a>

					{# Close Mobile Nav #}

					<a href="#offcanvas--mobile-nav" class="uk-hidden@l button--mobile-menu-close" id="button--mobile-menu-close">

						<img src="{{ url('assets/img/icon-close.svg') }}" alt="Close icon">

					</a>

					{# Commaned - Hide mobile menu #}

					{% js %}

						$('body').on('click', '.button--mobile-menu-close', function(e) {

							e.preventDefault();

							UIkit.offcanvas('#offcanvas--mobile-nav').hide();

						});

					{% endjs %}

				</div>

			</div>
		
		</div>
	
	</div>
	
</header>

{% include '_inc/_menus/_mobile' %}