{% spaceless %}

{# Meta #}

{% set metaTitle = "" %}
{% set metaDescription = "" %}
{% set sharingTitle = "" %}
{% set sharingDescription = "" %}
{% set sharingImgUrl = "" %}

{# Meta Title #}

{% if metaTitleOveride is defined and metaTitleOveride|length %}

    {% set metaTitle = metaTitleOveride %}

{% elseif entry.seoMetaTitle is defined and entry.seoMetaTitle|length %}

    {% set metaTitle = entry.seoMetaTitle %}

{% else %}

    {% set metaTitle = defaultMetaData.seoMetaTitle %}

{% endif %}

{# Meta Description #}

{% if metaDescOveride is defined and metaDescOveride|length %}

    {% set metaDescription = metaDescOveride %}

{% elseif entry.seoMetaDescription is defined and entry.seoMetaDescription|length %}

    {% set metaDescription = entry.seoMetaDescription %}

{% else %}

    {% set metaDescription = defaultMetaData.seoMetaDescription %}

{% endif %}

{# Sharing Title #}

{% if entry.sharingTitle is defined and entry.sharingTitle|length %}

    {% set sharingTitle = entry.sharingTitle %}

{% elseif metaTitleOveride is defined and metaTitleOveride|length %}

    {% set sharingTitle = metaTitleOveride %}

{% elseif entry.seoMetaTitle is defined and entry.seoMetaTitle|length %}

    {% set sharingTitle = entry.seoMetaTitle %}

{% else %}

    {% set sharingTitle = defaultSharingData.sharingTitle %}

{% endif %}

{# Sharing Description #}

{% if entry.sharingDescription is defined and entry.sharingDescription|length %}

    {% set sharingDescription = entry.sharingDescription %}

{% elseif metaDescOveride is defined and metaDescOveride|length %}

    {% set sharingDescription = metaDescOveride %}

{% elseif entry.seoMetaDescription is defined and entry.seoMetaDescription|length %}

    {% set sharingDescription = entry.seoMetaDescription %}

{% else %}

    {% set sharingDescription = defaultSharingData.sharingDescription %}

{% endif %}

{# Sharing Image #}

{% if entry.sharingImage is defined and entry.sharingImage|length %}

    {% set ogImage = entry.sharingImage.one() %}

    {% set sharingImgUrl = ogImage.getUrl() %}

{% elseif defaultSharingData.sharingImage is defined and defaultSharingData.sharingImage|length %}

    {% set ogImage = defaultSharingData.sharingImage.one() %}

    {% set sharingImgUrl = ogImage.getUrl() %}

{% elseif sharingImageOveride is defined and sharingImageOveride|length %}

    {% set sharingImgUrl = sharingImageOveride %}

{% endif %}

{% endspaceless %}
<!doctype html>

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>
{% spaceless %}

{# Google Tag Manager #}

{% if tagManager.tagManagerJavascript|length %}

    {{ tagManager.tagManagerJavascript|raw }}

{% endif %}

{% endspaceless %}
<meta charset="utf-8">
<title>{{ metaTitle }}</title>
<meta name="description" content="{{ metaDescription }}">
<meta name="author" content="{{ siteName }}">
{% spaceless %}

{# No Follow #}

{% if noFollow is defined and noFollow == 1 %}

<meta name="robots" content="noindex, nofollow">

{% endif %}

{% endspaceless %}

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="home" href="{{ siteUrl }}">

{# Styles #}
<link rel="stylesheet" href="{{ url('assets/css/screen.min.css?v=6') }}">

{# Icons #}
<link rel="apple-touch-icon" sizes="57x57" href="{{ url('assets/img/icons/apple-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url('assets/img/icons/apple-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url('assets/img/icons/apple-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url('assets/img/icons/apple-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url('assets/img/icons/apple-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url('assets/img/icons/apple-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url('assets/img/icons/apple-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url('assets/img/icons/apple-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url('assets/img/icons/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ url('assets/img/icons/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url('assets/img/icons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url('assets/img/icons/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url('assets/img/icons/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url('assets/img/icons/manifest.json') }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ url('assets/img/icons/ms-icon-144x144.png') }}">
<meta name="theme-color" content="#ffffff">
<meta name="format-detection" content="telephone=no">

{# Open Graphs #}

<meta property="og:title" content="{{ sharingTitle }}">
<meta property="og:description" content="{{ sharingDescription }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">
<meta property="og:image" content="{{ sharingImgUrl }}">
<meta property="og:locale" content="en_GB">

</head>

<body class="{% if templateName is defined %}{{ templateName }}{% endif %}{% if bodyHeaderStyle is defined %} {{ bodyHeaderStyle }}{% endif %}">

    {# Google Tag Manager #}

    {% if tagManager.tagManagerNoscript|length %}

        {{ tagManager.tagManagerNoscript|raw }}

    {% endif %}

    {# Header #}

    {% set headerStyleVar = null %}

    {% if headerStyle is defined %}

        {% set headerStyleVar = headerStyle %}

    {% endif %}

    {% set headerVars = { headerStyleVar : headerStyleVar } %}

    {% include '_global/_header' with headerVars %}
    
    {# Main Content Block #}

    {% block content %}

    {% endblock %}
    
    {# Footer #}

    {% include '_global/_footer' %}

    {# JavaScript #}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>

    {# Injected JavaScript #}

    {{ endBody() }}

</body>

</html>